
@{
    /**/

    ViewBag.Title = "Index";
}



@Html.AntiForgeryToken()

<input type="hidden" id="hiddenLanguageId"  value="@ViewBag.ContentFormat_language_id">
<div class="col-md-9">
    <div class="skin skin-minimal">


        <div class="row">
            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_tv">
                        @ViewBag.ContentFormat_filter_head_tv
                    </h4>

                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-radio-tv-room" name="minimal-radio-tv">
                            <label for="minimal-radio-tv-room">
                                @ViewBag.ContentFormat_filter_option_tv_room
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-tv-hall" name="minimal-radio-tv">
                            <label for="minimal-radio-tv-hall">
                                @ViewBag.ContentFormat_filter_option_tv_hall
                            </label>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_internet">
                        @ViewBag.ContentFormat_filter_head_internet
                    </h4>

                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-radio-internet-wireless" name="minimal-radio-internet">
                            <label for="minimal-radio-internet-wireless">
                                @ViewBag.ContentFormat_filter_option_internet_wireless
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-internet-cable" name="minimal-radio-internet">
                            <label for="minimal-radio-internet-cable">
                                @ViewBag.ContentFormat_filter_option_internt_cable
                            </label>
                        </li>

                    </ul>


                </div>
            </div>

            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_wc_shower">
                        @ViewBag.ContentFormat_filter_header_wc_shower
                    </h4>
                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-radio-wc-room" name="minimal-radio-wc">
                            <label for="minimal-radio-wc-room">
                                @ViewBag.ContentFormat_filter_option_wc_shower_room
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-wc-common" name="minimal-radio-wc">
                            <label for="minimal-radio-wc-common">
                                @ViewBag.ContentFormat_filter_option_wc_shower_common
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-wc-flats" name="minimal-radio-wc">
                            <label for="minimal-radio-wc-flats">
                                @ViewBag.ContentFormat_filter_option_wc_shower_flats
                            </label>
                        </li>

                    </ul>


                </div>
            </div>

            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_kitchenette">
                        @ViewBag.ContentFormat_filter_header_kitchenette
                    </h4>

                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-radio-kitchenette-room" name="minimal-radio-kitchenette">
                            <label for="minimal-radio-kitchenette-room">
                                @ViewBag.ContentFormat_filter_option_kitchenette_room
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-kitchenette-flats" name="minimal-radio-kitchenette">
                            <label for="minimal-radio-kitchenette-flats">
                                @ViewBag.ContentFormat_filter_option_kitchenette_flats
                            </label>
                        </li>

                    </ul>

                </div>
            </div>
            <div style=" padding-left: 20px; padding-right: 20px">
                <a class="pull-right" data-toggle="collapse" href="#collapseMoreoptions" aria-expanded="false" id="label_more_options" aria-controls="collapseMoreoptions">
                    @ViewBag.ContentFormat_filter_header_more_options
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>

        </div>


        <div class="row collapse in" id="collapseMoreoptions">
            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_bed">
                        @ViewBag.ContentFormat_filter_header_bed
                    </h4>

                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-radio-bed-bunk" name="minimal-radio-bed">
                            <label for="minimal-radio-bed-bunk">
                                @ViewBag.ContentFormat_filter_option_bed_bunk
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-bed-normal" name="minimal-radio-bed">
                            <label for="minimal-radio-bed-normal">
                                @ViewBag.ContentFormat_filter_option_bed_normal
                            </label>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_nececities">
                        @ViewBag.ContentFormat_filter_header_nececities
                    </h4>
                    <ul class="list">
                        <li>
                            <input tabindex="5" type="checkbox" id="minimal-checkbox-air_condition">
                            <label for="minimal-checkbox-air_condition" id="Label-minimal-checkbox-air_condition">
                                @ViewBag.ContentFormat_filter_option_air_condition
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-central">
                            <label for="minimal-checkbox-central" id="Label-minimal-checkbox-central">
                                @ViewBag.ContentFormat_filter_option_center_heating_cooling
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-refriferator">
                            <label for="minimal-checkbox-refriferator" id="Label-minimal-checkbox-refriferator">
                                @ViewBag.ContentFormat_filter_option_refrigerator
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-Laundry">
                            <label for="minimal-checkbox-Laundry" id="Label-minimal-checkbox-Laundry">
                                @ViewBag.ContentFormat_filter_option_laundry
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-cafeteria">
                            <label for="minimal-checkbox-cafeteria" id="Label-minimal-checkbox-cafeteria">
                                @ViewBag.ContentFormat_filter_option_cafeteria
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-room">
                            <label for="minimal-checkbox-room" id="Label-minimal-checkbox-room">
                                @ViewBag.ContentFormat_filter_option_room_tel
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-generator">
                            <label for="minimal-checkbox-generator" id="Label-minimal-checkbox-generator">
                                @ViewBag.ContentFormat_filter_option_generator
                            </label>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_other_options">
                        @ViewBag.ContentFormat_filter_header_other_options
                    </h4>
                    <div class="form-group">

                        <ul class="list">
                            <label for="exampleFormControlSelect1" id="LabelFormControlSelectDormitoryType">
                                @ViewBag.ContentFormat_filter_select_dormitory_type
                            </label>
                            <select class="form-control" id="selectedDormitoryType">
                                <option value="0"></option>
                                <option value="1">EMU Dormitories</option>
                                <option value="2">BOT (build-operate-transfer) Dormitories</option>
                            </select>
                            <br />

                            <label for="exampleFormControlSelect1" id="LabelFormControlSelectDormitoryName">
                                @ViewBag.ContentFormat_filter_select_dormitory_name
                            </label>
                            <select class="form-control" id="selectedDormitoryName">
                                <option></option>
                                <option>EMU</option>

                                <option>Alfam</option>
                                <option>Ugursal</option>
                                <option>Marmara</option>
                                <option>Akdeniz</option>
                                <option>Longson</option>
                                <option>Homedorm</option>
                                <option>Ramen</option>
                                <option>Prime Living</option>
                                <option>Golden Plus</option>
                                <option>Kamacioglu</option>
                            </select>
                            <br />

                            <label for="exampleFormControlSelect1" id="LabelFormControlSelectRoomArea">
                                @ViewBag.ContentFormat_filter_select_room_area
                            </label>
                            <select class="form-control" id="selectedRoomArea">
                                <option value="0"></option>
                                <option value="25"> 25 m<sup style="vertical-align: super; font-size: smaller;">2</sup> </option>
                                <option value="10"> 10 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="12"> 12 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="13"> 13 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="15"> 15 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="20"> 20 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="21"> 21 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="22"> 22 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="24"> 24 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="25"> 25 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="27"> 27 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="28"> 28 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="29"> 29 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="30"> 30 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                                <option value="55"> 55 m<sup style="vertical-align: super; font-size: smaller; ">2</sup> </option>
                            </select>

                        </ul>





                    </div>


                </div>
            </div>


        </div>








        <div class="col" style=" padding-left: 20px; padding-right: 20px">

            <div>
                <input type="button" id="btnPost" value="@ViewBag.ContentFormat_btn_search" class="btn btn-md btn-color02 pull-right">
            </div>
            <div>
                <input type="button" value="@ViewBag.ContentFormat_btn_clear_filter" id="btnClearFilter" class="btn btn-md btn-color02 pull-right">
            </div>
            <br />
        </div>

        <div class="col" style=" padding-left: 20px; padding-right: 20px">
            <div>
                <label for="minimal-checkbox-2">
                    @ViewBag.ContentFormat_filter_glide_price_range ($|₺)
                </label> <input type="text" id="range" value="" name="range" />
            </div>

        </div>

        <hr>

        <div style="text-align&#58;left;  padding-left: 20px; padding-right: 20px;">

            <a class="btn btn-color02" id="btnPost" href="https://dormitories.emu.edu.tr/Documents/fees/dau-yurt-paket-ucretleri-emu-dorm-fees-2017-18.pdf" target="_blank">
                <span class="glyphicon glyphicon-cloud-download"></span>@ViewBag.ContentFormat_btn_emu_dormitories_fees

            </a>

            <a class="btn btn-color05" href="https://dormitories.emu.edu.tr/Documents/fees/yid-yurt-ucretleri-bot-dorm-fees-2017-18.pdf" target="_blank">
                <span class="glyphicon glyphicon-cloud-download"></span>@ViewBag.ContentFormat_btn_bot_dormitofies_fees


            </a>

            <a class="btn btn-color05" href="https://dormitories.emu.edu.tr/Documents/fees/2018-spring-dorm-fees.pdf" target="_blank">
                <span class="glyphicon glyphicon-cloud-download"></span>@ViewBag.ContentFormat_btn_bot_dormitories_fees_2018

            </a>
            <br>
        </div>



        <section class="default-section padd-top-40 no-padd-bottom">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="contact-us no-padd-bottom no-padd-top">
                        <div class="auto-container">

                            <div id="searchNoResult">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>








        <script>

            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                increaseArea: '20%'
            });



            $("#range").ionRangeSlider({
                hide_min_max: true,
                keyboard: true,
                min: 0,
                max: 5000,
                from: 100,
                to: 4000,
                type: 'double',
                step: 1,
                prefix: "",
                grid: true
            });






        </script>
        <script src="@Url.Content("~/")Content/js/jquery-1.12.3.min.js"></script>
        <script src="@Url.Content("~/")Content/js/ion.rangeSlider.js"></script>

        <div id="content_to_replace">
            <div class="col-md-12" align="center">
                <div class="skin skin-minimal">
                    
                </div>
            </div>
        </div>

    </div>


</div>







<script type="text/javascript" src="@Url.Content("~/")Scripts/ScriptMain.js" language="JavaScript"> </script>