
@{
    /**/

    ViewBag.Title = "Index";
}



@Html.AntiForgeryToken()

<input type="hidden" id="hiddenLanguageId" value="@ViewBag.ContentFormat_language_id">
<div class="col-md-9">
    <div class="skin skin-minimal">


        <div class="row">
            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_tv">
                        @ViewBag.ContentFormat_filter_head_tv
                    </h4>

                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-radio-tv-room" name="minimal-radio-tv">
                            <label for="minimal-radio-tv-room">
                                @ViewBag.ContentFormat_filter_option_tv_room
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-tv-hall" name="minimal-radio-tv">
                            <label for="minimal-radio-tv-hall">
                                @ViewBag.ContentFormat_filter_option_tv_hall
                            </label>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_internet">
                        @ViewBag.ContentFormat_filter_head_internet
                    </h4>

                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-radio-internet-wireless" name="minimal-radio-internet">
                            <label for="minimal-radio-internet-wireless">
                                @ViewBag.ContentFormat_filter_option_internet_wireless
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-internet-cable" name="minimal-radio-internet">
                            <label for="minimal-radio-internet-cable">
                                @ViewBag.ContentFormat_filter_option_internt_cable
                            </label>
                        </li>

                    </ul>


                </div>
            </div>

            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_wc_shower">
                        @ViewBag.ContentFormat_filter_header_wc_shower
                    </h4>
                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-radio-wc-room" name="minimal-radio-wc">
                            <label for="minimal-radio-wc-room">
                                @ViewBag.ContentFormat_filter_option_wc_shower_room
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-wc-common" name="minimal-radio-wc">
                            <label for="minimal-radio-wc-common">
                                @ViewBag.ContentFormat_filter_option_wc_shower_common
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-wc-flats" name="minimal-radio-wc">
                            <label for="minimal-radio-wc-flats">
                                @ViewBag.ContentFormat_filter_option_wc_shower_flats
                            </label>
                        </li>

                    </ul>


                </div>
            </div>

            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_kitchenette">
                        @ViewBag.ContentFormat_filter_header_kitchenette
                    </h4>

                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-radio-kitchenette-room" name="minimal-radio-kitchenette">
                            <label for="minimal-radio-kitchenette-room">
                                @ViewBag.ContentFormat_filter_option_kitchenette_room
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-kitchenette-flats" name="minimal-radio-kitchenette">
                            <label for="minimal-radio-kitchenette-flats">
                                @ViewBag.ContentFormat_filter_option_kitchenette_flats
                            </label>
                        </li>

                    </ul>

                </div>
            </div>
            <div style=" padding-left: 20px; padding-right: 20px">
                <a class="pull-right" data-toggle="collapse" href="#collapseMoreoptions" aria-expanded="false" id="label_more_options" aria-controls="collapseMoreoptions">
                    @ViewBag.ContentFormat_filter_header_more_options
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>

        </div>


        <div class="row collapse in" id="collapseMoreoptions">
            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_bed">
                        @ViewBag.ContentFormat_filter_header_bed
                    </h4>

                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-radio-bed-bunk" name="minimal-radio-bed">
                            <label for="minimal-radio-bed-bunk">
                                @ViewBag.ContentFormat_filter_option_bed_bunk
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-radio-bed-normal" name="minimal-radio-bed">
                            <label for="minimal-radio-bed-normal">
                                @ViewBag.ContentFormat_filter_option_bed_normal
                            </label>
                        </li>

                    </ul>
                    <br />
                    <h4 id="label_header_bed">
                        @ViewBag.ContentFormat_sort_by
                    </h4>

                    
                  
                    <ul class="list">
                        <li>
                            <input tabindex="7" type="radio" id="minimal-sort-price" name="minimal-sort">
                            <label for="minimal-sort-price">
                                @ViewBag.ContentFormat_sort_by_price
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-sort-az" name="minimal-sort">
                            <label for="minimal-sort-az">
                                @ViewBag.ContentFormat_sort_by_az
                            </label>
                        </li>
                        <li>
                            <input tabindex="8" type="radio" id="minimal-sort-area" name="minimal-sort">
                            <label for="minimal-sort-area">
                                @ViewBag.ContentFormat_sort_by_area
                            </label>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_nececities">
                        @ViewBag.ContentFormat_filter_header_nececities
                    </h4>
                    <ul class="list">
                        <li>
                            <input tabindex="5" type="checkbox" id="minimal-checkbox-air_condition">
                            <label for="minimal-checkbox-air_condition" id="Label-minimal-checkbox-air_condition">
                                @ViewBag.ContentFormat_filter_option_air_condition
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-central">
                            <label for="minimal-checkbox-central" id="Label-minimal-checkbox-central">
                                @ViewBag.ContentFormat_filter_option_center_heating_cooling
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-refriferator">
                            <label for="minimal-checkbox-refriferator" id="Label-minimal-checkbox-refriferator">
                                @ViewBag.ContentFormat_filter_option_refrigerator
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-Laundry">
                            <label for="minimal-checkbox-Laundry" id="Label-minimal-checkbox-Laundry">
                                @ViewBag.ContentFormat_filter_option_laundry
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-cafeteria">
                            <label for="minimal-checkbox-cafeteria" id="Label-minimal-checkbox-cafeteria">
                                @ViewBag.ContentFormat_filter_option_cafeteria
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-room">
                            <label for="minimal-checkbox-room" id="Label-minimal-checkbox-room">
                                @ViewBag.ContentFormat_filter_option_room_tel
                            </label>
                        </li>
                        <li>
                            <input tabindex="6" type="checkbox" id="minimal-checkbox-generator">
                            <label for="minimal-checkbox-generator" id="Label-minimal-checkbox-generator">
                                @ViewBag.ContentFormat_filter_option_generator
                            </label>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col">
                <dd class="selected"></dd>
                <div class="skin-section">
                    <h4 id="label_header_other_options">
                        @ViewBag.ContentFormat_filter_header_other_options
                    </h4>
                    <div class="form-group">


                      
                            <label for="exampleFormControlSelect1" id="LabelFormControlSelectDormitoryType">
                                @ViewBag.ContentFormat_filter_select_dormitory_type
                            </label>
                            <select class="form-control" id="selectedDormitoryType" onchange="getAndSetSelected_dormitory_name(this)">
                                <option value="0"></option>
                                <option value="1">@ViewBag.ContentFormat_filter_dormitory_type_emu_dormitories</option>
                                <option value="2">@ViewBag.ContentFormat_filter_dormitory_type_bot_dormitories</option>
                            </select>
                            <br />

                            <label for="exampleFormControlSelect1" id="LabelFormControlSelectDormitoryName">
                                @ViewBag.ContentFormat_filter_select_dormitory_name
                            </label>
                            <select class="form-control" id="selectedDormitoryName">
                                <option></option>
                                
                            </select>
                            <br />

                            <label for="exampleFormControlSelect1" id="LabelFormControlSelectRoomArea">
                                @ViewBag.ContentFormat_filter_select_room_area
                            </label>
                            <select class="form-control" id="selectedRoomArea">
                                <option value="0"></option>
                                <option value="1">  @ViewBag.ContentFormat_filter_range_10_to_20</option>
                                <option value="2"> @ViewBag.ContentFormat_filter_range_21_to_25 </option>
                                <option value="3">  @ViewBag.ContentFormat_filter_range_26_to_30 </option>
                                <option value="4">   @ViewBag.ContentFormat_filter_range_greater_than_30</option>


                            </select>

                      




                    </div>


                </div>
            </div>


        </div>








        <div class="col" style=" padding-left: 20px; padding-right: 20px">

            <div>
                <input type="button" id="btnPost" value="@ViewBag.ContentFormat_btn_search" class="btn btn-md btn-color02 pull-right">
            </div>
            <div>
                <input type="button" value="@ViewBag.ContentFormat_btn_clear_filter" id="btnClearFilter" class="btn btn-md btn-color02 pull-right">
            </div>
            <br />
        </div>

        <div class="col" style=" padding-left: 20px; padding-right: 20px">
            <div>
                <label for="minimal-checkbox-2">
                    @ViewBag.ContentFormat_filter_glide_price_range ($|₺)
                </label> <input type="text" id="range" value="" name="range" />
            </div>

        </div>

        <hr>

        <div style="text-align&#58;left;  padding-left: 20px; padding-right: 20px;">

            <a class="btn btn-color02" id="btnPost" href="https://dormitories.emu.edu.tr/Documents/fees/dau-yurt-paket-ucretleri-emu-dorm-fees-2017-18.pdf" target="_blank">
                <span class="glyphicon glyphicon-cloud-download"></span>@ViewBag.ContentFormat_btn_emu_dormitories_fees

            </a>

            <a class="btn btn-color05" href="https://dormitories.emu.edu.tr/Documents/fees/yid-yurt-ucretleri-bot-dorm-fees-2017-18.pdf" target="_blank">
                <span class="glyphicon glyphicon-cloud-download"></span>@ViewBag.ContentFormat_btn_bot_dormitofies_fees


            </a>

            <a class="btn btn-color05" href="https://dormitories.emu.edu.tr/Documents/fees/2018-spring-dorm-fees.pdf" target="_blank">
                <span class="glyphicon glyphicon-cloud-download"></span>@ViewBag.ContentFormat_btn_bot_dormitories_fees_2018

            </a>
            <br>
        </div>



        <section class="default-section padd-top-40 no-padd-bottom">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="contact-us no-padd-bottom no-padd-top">
                        <div class="auto-container">

                            <div id="searchNoResult">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>








        <script>

            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                increaseArea: '20%'
            });



            $("#range").ionRangeSlider({
                hide_min_max: true,
                keyboard: true,
                min: 0,
                max: 5000,
                from: 100,
                to: 4000,
                type: 'double',
                step: 1,
                prefix: "",
                grid: true
            });






        </script>
        <script src="@Url.Content("~/")Content/js/jquery-1.12.3.min.js"></script>
        <script src="@Url.Content("~/")Content/js/ion.rangeSlider.js"></script>



    </div>


</div>



<div id="content_to_replace">
    <div class="col-md-offset-4"
    <div class="skin skin-minimal">
    <div class="row">
    <div class="col-md-9">
    <h1>@ViewBag.ContentFormat_static_text_fees_and_facilities</h1>
    <div id="ctl00_PlaceHolderMain_ctl00_label" style="display:none">Page Content</div><div id="ctl00_PlaceHolderMain_ctl00__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl00_label">
    <h3>@ViewBag.ContentFormat_static_text_emu_dormitories</h3><div>
    <ul>
    <li>
    <span style="line-height:1.42857;">@ViewBag.ContentFormat_static_text_emu_dormitories0</span>
    </li>
    <li>
    <span style="line-height:1.42857;">@ViewBag.ContentFormat_static_text_emu_dormitories_1</span>
    </li>
    <li>
    <span style="line-height:1.42857;">@ViewBag.ContentFormat_ories_2</span><span style="line-height:1.42857;"></span><br>
    </li>
    </ul><div>
    <span style="line-height:20px;">@ViewBag.ContentFormat_ories_3<br></span>
    </div>
    </div><div>
    <br>
    </div><div>
    <div class="table-responsive"><table class="ms-rteTable-Bootstrap-style-1 table" width="100%" cellspacing="0"><tbody><tr class="ms-rteTableHeaderRow-Bootstrap-style-1"><th class="ms-rteTableHeaderEvenCol-Bootstrap-style-1" rowspan="1" colspan="1" style="width:50%;">@ViewBag.ContentFormat_ories_fall_semester</th><th class="ms-rteTableHeaderOddCol-Bootstrap-style-1" rowspan="1" colspan="1" style="width:50%;">@ViewBag.ContentFormat_ories_spring_semester</th></tr><tr class="ms-rteTableOddRow-Bootstrap-style-1"><td class="ms-rteTableEvenCol-Bootstrap-style-1">1. @ViewBag.ContentFormat_ories_installment_during_registration </td><td class="ms-rteTableOddCol-Bootstrap-style-1">1. @ViewBag.ContentFormat_ories_installment_during_registration </td></tr><tr class="ms-rteTableEvenRow-Bootstrap-style-1"><td class="ms-rteTableEvenCol-Bootstrap-style-1">2. &nbsp;@ViewBag.ContentFormat_ories_installment_october<br></td><td class="ms-rteTableOddCol-Bootstrap-style-1">2.&nbsp;@ViewBag.ContentFormat_installment_date_2019<br></td></tr><tr class="ms-rteTableOddRow-Bootstrap-style-1"><td class="ms-rteTableEvenCol-Bootstrap-style-1">3.&nbsp;@ViewBag.ContentFormat_installment_date_november_2019 <br></td><td class="ms-rteTableOddCol-Bootstrap-style-1">3.&nbsp;@ViewBag.ContentFormat_installment_date_april_2019<br></td></tr><tr class="ms-rteTableEvenRow-Bootstrap-style-1"><td class="ms-rteTableEvenCol-Bootstrap-style-1">4. @ViewBag.ContentFormat_installment_date_december_2018</td><td class="ms-rteTableOddCol-Bootstrap-style-1">4.&nbsp;@ViewBag.ContentFormat_installment_date_december_2018<br></td></tr></tbody></table></div>
    <br>
    </div><div style="text-align:left;">
    <a class="btn btn-color02 external-link" href="/Documents/fees/dau-yurt-paket-ucretleri-emu-dorm-fees-2018-19.pdf" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp; @ViewBag.ContentFormat_emu_dormitories_fees_pdf</a><br>
    </div><div>
    <br>
    </div><div>
    <div class="table-responsive">
    <table class="ms-rteTable-Faculty-style-1 table" width="100%" cellspacing="0">
    <tbody>
    <tr class="ms-rteTableEvenRow-Faculty-style-1">
    <td class="ms-rteTableEvenCol-Faculty-style-1" colspan="3" style="width:33.3333%;">
    <strong>@ViewBag.ContentFormat_emu_dormitories_bank_account</strong>
    </td>
    </tr>
    <tr class="ms-rteTableOddRow-Faculty-style-1">
    <td class="ms-rteTableEvenCol-Faculty-style-1">
    <strong>@ViewBag.ContentFormat_bank_name</strong>
    </td>
    <td class="ms-rteTableOddCol-Faculty-style-1">
    <strong>@ViewBag.ContentFormat_iban_tl</strong>
    </td>
    <td class="ms-rteTableEvenCol-Faculty-style-1">
        <strong>@ViewBag.ContentFormat_iban_usd </strong>
    </td>
    </tr>
    <tr class="ms-rteTableEvenRow-Faculty-style-1"><td class="ms-rteTableEvenCol-Faculty-style-1">İs Bankasi<br> (Magusa Branch)</td><td class="ms-rteTableOddCol-Faculty-style-1">TR42-0006 4000 001 6820 0275509 (TL)</td><td class="ms-rteTableEvenCol-Faculty-style-1">TR 16 0006 4000 002&nbsp; 6820 0760487 (USD)</td></tr>
    </tbody>
    </table>
    </div>
    <br>
    </div><div>
              <h3>@ViewBag.ContentFormat_emu_bot_dormitories </h3><ul>
    <li>
    @ViewBag.ContentFormat_emu_bot_dormitories1
    <span style="text-decoration:underline;">@ViewBag.ContentFormat_emu_bot_dormitories2</span>
    </li>
    <li>@ViewBag.ContentFormat_emu_bot_dormitories3</li>
    <li>@ViewBag.ContentFormat_emu_bot_dormitories4</li>
    <li>@ViewBag.ContentFormat_emu_bot_dormitories5</li>
    <li>@ViewBag.ContentFormat_emu_bot_dormitories6 </li>
    <p>@ViewBag.ContentFormat_emu_bot_dormitories7 </p>
    <li>@ViewBag.ContentFormat_emu_bot_dormitories8 </li>
    </ul>
    <br>

    <div></div><h3>@ViewBag.ContentFormat_private_dormitories_in_the_campus <br></h3><p style="text-align:left;">
                                                                                         <b>@ViewBag.ContentFormat_private_dormitory_in_campus_link  -&nbsp;<a href="http://www.kamaciogluyurt.com/" target="_blank" class="external-link">http://www.kamaciogluyurt.com/</a></b>
    </p>
    </div>
    </div>


    </div>
    </div>
    </div>
    </div>
    </div>




    <script type="text/javascript" src="@Url.Content("~/")Scripts/ScriptMain.js" language="JavaScript"></script>
