

<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">

<!-- Mirrored from dormitories.emu.edu.tr/en/fees-and-facilities by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 May 2018 16:06:38 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="GENERATOR" content="Microsoft SharePoint" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- ===== STARTER: Robots  ======================================================================================================= -->
    <!-- ===== STARTER: Favicon / Windows Tile ======================================================================================== -->
    <link rel="shortcut icon" href="@Url.Content("~/")Content/_layouts/emu/global/images/favicon.png" type="image/vnd.microsoft.icon" id="favicon" />
    <meta name="msapplication-TileImage" content="@Url.Content("~/")Content/_layouts/emu/global/images/metrotile.png" />
    <meta name="msapplication-TileColor" content="#0072C6" />
    <!-- ===== STARTER: Page Title loaded from page or page layout ==================================================================== -->
    <title>

        Fees and Facilities
        | Dormitories &amp; Cafeterias Directorate - EMU
    </title>
    <!-- ===== STARTER: SP Scripts and CSS  =========================================================================================== -->



    <link rel="stylesheet" type="text/css" href="_layouts/15/1033/styles/Themable/corev150597.css?rev=OqAycmyMLoQIDkAlzHdMhQ%3D%3D" />
    <link id="CssRegistration1" rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/_layouts/emu/unit/css/bootstrap.css" />
    <link id="CssRegistration3" rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/_layouts/emu/unit/css/bootstrap-custom268b3.css?ver=1" />
    <link id="CssRegistration4" rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/_layouts/emu/global/css/font-awesome.min.css" />
    <link id="CssRegistration7" rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/_layouts/emu/unit/css/orange.css" />
    <link id="CssRegistration8" rel="stylesheet" type="text/css" href="_catalogs/masterpage/emu/css/site-custom.css" />
    <link id="CssRegistration9" rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/_layouts/emu/fancybox3/fancybox.css" />
    <link id="CssRegistration12" rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/_layouts/emu/global/datepicker/jquery.datetimepicker.css" />
    <script type="text/javascript" src="_layouts/15/init575b.js?rev=Xpo7ARBt8xBROO1h5n3s6g%3D%3D"></script>
    <script type="text/javascript" src="https://dormitories.emu.edu.tr/ScriptResource.axd?d=kwziywPV4hboswT4bEeizSaICj1eYvc40rfsI6YwptBFYmLZ3-JM_QWf89shYAV0WbQZzbHza818CltyCIVYNa34PBpXIh-HTvV2D-9jdlRkKhm9Rtw6MHhzIEaIDASXbVQ5Oz0bErT-3a5yg-0bHm7gX6Ci1zlebHOzk9s-2RWC3c0sNAQv2xY5YdpJGv3X0&amp;t=72fc8ae3"></script>
    <script type="text/javascript" src="_layouts/15/blank1029.js?rev=ZaOXZEobVwykPO9g8hq%2F8A%3D%3D"></script>
    <script type="text/javascript" src="https://dormitories.emu.edu.tr/ScriptResource.axd?d=LMcH7gHE6pK-a4X0N3js4yrPxoeows-dSPCq78unDfPHeSdDx1KinFg_Z95bgAxqQ0I6SGhUe6jc-JR-Rgkxo50tcxew3xXTh5aYJ8Qs3AUP8hgzKuMp2eqFZKZu5mkc4i6loP_4bT0Oi-tKM88xj_kMVXeuoOqBHXAL4nmmr3pjxgaBtcEpNoHZVd4Pt6k20&amp;t=72fc8ae3"></script>
    <script type="text/javascript">RegisterSod("initstrings.html", "#\u002f_layouts\u002f15\u002f1033\u002finitstrings.js?rev=2N3pk\u00252FwjnG3Tj9o5NrqHcg\u00253D\u00253D");</script>
    <script type="text/javascript">RegisterSod("strings.html", "#\u002f_layouts\u002f15\u002f1033\u002fstrings.js?rev=y6khbhv1Os2YPb5X0keqRg\u00253D\u00253D"); RegisterSodDep("strings.html", "initstrings.html");</script>
    <script type="text/javascript">RegisterSod("sp.init.html", "#\u002f_layouts\u002f15\u002fsp.init.js?rev=jvJC3Kl5gbORaLtf7kxULQ\u00253D\u00253D");</script>
    <script type="text/javascript">RegisterSod("sp.res.resx", "\u002f_layouts\u002f15\u002fScriptResx.ashx?culture=en\u00252Dus\u0026name=SP\u00252ERes\u0026rev=yNk\u00252FhRzgBn40LJVP\u00252BqfgdQ\u00253D\u00253D");</script>
    <script type="text/javascript">RegisterSod("sp.ui.dialog.html", "#\u002f_layouts\u002f15\u002fsp.ui.dialog.js?rev=3Oh2QbaaiXSb7ldu2zd6QQ\u00253D\u00253D"); RegisterSodDep("sp.ui.dialog.html", "sp.init.html"); RegisterSodDep("sp.ui.dialog.html", "sp.res.resx");</script>
    <script type="text/javascript">RegisterSod("core.html", "#\u002f_layouts\u002f15\u002fcore.js?rev=GpU7vxyOqzS0F9OfEX3CCw\u00253D\u00253D"); RegisterSodDep("core.html", "strings.html");</script>
    <script type="text/javascript">RegisterSod("menu.html", "#\u002f_layouts\u002f15\u002fmenu.js?rev=cXv35JACAh0ZCqUwKU592w\u00253D\u00253D");</script>
    <script type="text/javascript">RegisterSod("mQuery.html", "#\u002f_layouts\u002f15\u002fmquery.js?rev=VYAJYBo5H8I3gVSL3MzD6A\u00253D\u00253D");</script>
    <script type="text/javascript">RegisterSod("callout.html", "#\u002f_layouts\u002f15\u002fcallout.js?rev=ryx2n4ePkYj1\u00252FALmcsXZfA\u00253D\u00253D"); RegisterSodDep("callout.html", "strings.html"); RegisterSodDep("callout.html", "mQuery.html"); RegisterSodDep("callout.html", "core.html");</script>
    <script type="text/javascript">RegisterSod("clienttemplates.html", "#\u002f_layouts\u002f15\u002fclienttemplates.js?rev=PBguw1b6TlSAUH8dn\u00252BkIrw\u00253D\u00253D"); RegisterSodDep("clienttemplates.html", "initstrings.html");</script>
    <script type="text/javascript">RegisterSod("sharing.html", "#\u002f_layouts\u002f15\u002fsharing.js?rev=XxxHIxIIc8BsW9ikVc6dgA\u00253D\u00253D"); RegisterSodDep("sharing.html", "strings.html"); RegisterSodDep("sharing.html", "mQuery.html"); RegisterSodDep("sharing.html", "clienttemplates.html"); RegisterSodDep("sharing.html", "core.html");</script>
    <script type="text/javascript">RegisterSod("suitelinks.html", "#\u002f_layouts\u002f15\u002fsuitelinks.js?rev=REwVU5jSsadDdOZlCx4wpA\u00253D\u00253D"); RegisterSodDep("suitelinks.html", "strings.html"); RegisterSodDep("suitelinks.html", "core.html");</script>
    <script type="text/javascript">RegisterSod("sp.runtime.html", "#\u002f_layouts\u002f15\u002fsp.runtime.js?rev=5f2WkYJoaxlIRdwUeg4WEg\u00253D\u00253D"); RegisterSodDep("sp.runtime.html", "sp.res.resx");</script>
    <script type="text/javascript">RegisterSod("sp.html", "#\u002f_layouts\u002f15\u002fsp.js?rev=lrxLgKOmx0nl2elVy0T07w\u00253D\u00253D"); RegisterSodDep("sp.html", "sp.runtime.html"); RegisterSodDep("sp.html", "sp.ui.dialog.html"); RegisterSodDep("sp.html", "sp.res.resx");</script>
    <script type="text/javascript">RegisterSod("userprofile", "#\u002f_layouts\u002f15\u002fsp.userprofiles.js?rev=p5tCOm\u00252FlHUwcfll7W3pKNw\u00253D\u00253D"); RegisterSodDep("userprofile", "sp.runtime.html");</script>
    <script type="text/javascript">RegisterSod("followingcommon.html", "#\u002f_layouts\u002f15\u002ffollowingcommon.js?rev=jWqEDmcjCSPmnQw2ZIfItQ\u00253D\u00253D"); RegisterSodDep("followingcommon.html", "strings.html"); RegisterSodDep("followingcommon.html", "sp.html"); RegisterSodDep("followingcommon.html", "userprofile"); RegisterSodDep("followingcommon.html", "core.html"); RegisterSodDep("followingcommon.html", "mQuery.html");</script>
    <script type="text/javascript">RegisterSod("profilebrowserscriptres.resx", "\u002f_layouts\u002f15\u002fScriptResx.ashx?culture=en\u00252Dus\u0026name=ProfileBrowserScriptRes\u0026rev=J5HzNnB\u00252FO1Id\u00252FGI18rpRcw\u00253D\u00253D");</script>
    <script type="text/javascript">RegisterSod("sp.ui.mysitecommon.html", "#\u002f_layouts\u002f15\u002fsp.ui.mysitecommon.js?rev=Ua8qmZSU9nyf53S7PEyJwQ\u00253D\u00253D"); RegisterSodDep("sp.ui.mysitecommon.html", "sp.init.html"); RegisterSodDep("sp.ui.mysitecommon.html", "sp.runtime.html"); RegisterSodDep("sp.ui.mysitecommon.html", "userprofile"); RegisterSodDep("sp.ui.mysitecommon.html", "profilebrowserscriptres.resx");</script>
    <script type="text/javascript">RegisterSod("browserScript", "#\u002f_layouts\u002f15\u002fnon_ie.js?rev=W2q45TO627Zi6ztdktTOtA\u00253D\u00253D"); RegisterSodDep("browserScript", "strings.html");</script>
    <script type="text/javascript">RegisterSod("inplview", "#\u002f_layouts\u002f15\u002finplview.js?rev=iMf5THfqukSYut7sl9HwUg\u00253D\u00253D"); RegisterSodDep("inplview", "strings.html"); RegisterSodDep("inplview", "core.html"); RegisterSodDep("inplview", "sp.html");</script>
    <link type="text/xml" rel="alternate" href="_vti_bin/spsdisco.aspx" />

    <!-- ===== STARTER: Additional header placeholder - overridden by asp:content on pages or page layouts  =========================== -->

    <link rel="canonical" href="https://dormitories.emu.edu.tr:443/en/fees-and-facilities" />

    <!-- ===== STARTER: Core SharePoint CSS =========================================================================================== -->
    <!-- CSS RevolutionSlider STYLE-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/_layouts/emu/revolutionSlider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/_layouts/emu/revolutionSlider/css/customStyle.css" media="screen" />

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/_layouts/emu/revolutionSlider/css/settings.css" media="screen" />


    <!-- ===== STARTER: Custom CSS  =================================================================================================== -->
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600,400" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
                <script src="/Content/_layouts/emu/global/js/html5shiv.js"></script>
                <script src="/Content/_layouts/emu/global/js/respond.min.js"></script>
                <link rel="stylesheet" type="text/css" href="/Content/_layouts/emu/global/ie8.css" />
    <![endif]-->


    <link href="@Url.Content("~/")Content/css/custom.css?v=1.0.2" rel="stylesheet" media="screen" runat="server">
    <link href="@Url.Content("~/")Content/css/ion.rangeSlider.css" rel="stylesheet" media="screen" runat="server">
    <link rel="stylesheet" href="@Url.Content("~/")Content/css/ion.rangeSlider.skinFlat.css" />
    <link href="@Url.Content("~/")Content/skins/all.css?v=1.0.2" rel="stylesheet">
    <script src="@Url.Content("~/")Content/js/jquery.js"></script>
    <script src="@Url.Content("~/")Content/icheck.js?v=1.0.2"></script>
    <script src="@Url.Content("~/")Content/js/custom.min.js?v=1.0.2"></script>
    <script src="@Url.Content("~/")Content/js/ion.rangeSlider.min.js"></script>


    <link rel="stylesheet" href="css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
    <link href="@Url.Content("~/")Content/Dormitories_files/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css" integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/")Content/CustomStyle.css" />

</head>
<body>
    <!-- ===== STARTER: SP IDs / Prefetch SP images / SP Form  =========================================================================== -->

    <div id="imgPrefetch" style="display:none">
        <img src="@Url.Content("~/")Content/_layouts/emu/global/images/faviconf030.png?rev=23" />
    </div>

    <form method="post" action="https://dormitories.emu.edu.tr/en/fees-and-facilities?TermStoreId=39b8752e-950f-47a7-952a-bbe3b1c39d64&amp;TermSetId=57c020a0-dc4b-40e2-84a3-3f7759b8d4cd&amp;TermId=50a7734b-e8e9-4039-ad2b-680f0ba5e6e1" onsubmit="javascript:return WebForm_OnSubmit();" id="aspnetForm">
        <div class="aspNetHidden">
            <input type="hidden" name="_wpcmWpid" id="_wpcmWpid" value="" />
            <input type="hidden" name="wpcmVal" id="wpcmVal" value="" />
            <input type="hidden" name="MSOWebPartPage_PostbackSource" id="MSOWebPartPage_PostbackSource" value="" />
            <input type="hidden" name="MSOTlPn_SelectedWpId" id="MSOTlPn_SelectedWpId" value="" />
            <input type="hidden" name="MSOTlPn_View" id="MSOTlPn_View" value="0" />
            <input type="hidden" name="MSOTlPn_ShowSettings" id="MSOTlPn_ShowSettings" value="False" />
            <input type="hidden" name="MSOGallery_SelectedLibrary" id="MSOGallery_SelectedLibrary" value="" />
            <input type="hidden" name="MSOGallery_FilterString" id="MSOGallery_FilterString" value="" />
            <input type="hidden" name="MSOTlPn_Button" id="MSOTlPn_Button" value="none" />
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
            <input type="hidden" name="__REQUESTDIGEST" id="__REQUESTDIGEST" value="0x46C2B0A618211E9DE1E8B3751BACF5DC839169AEE9C78C4C54D7026D136E2A18B1893F94066A14D60A8BC29E253519804B3B5393CA588DCF506157432A751EF5,16 May 2018 16:10:44 -0000" />
            <input type="hidden" name="MSOSPWebPartManager_DisplayModeName" id="MSOSPWebPartManager_DisplayModeName" value="Browse" />
            <input type="hidden" name="MSOSPWebPartManager_ExitingDesignMode" id="MSOSPWebPartManager_ExitingDesignMode" value="false" />
            <input type="hidden" name="MSOWebPartPage_Shared" id="MSOWebPartPage_Shared" value="" />
            <input type="hidden" name="MSOLayout_LayoutChanges" id="MSOLayout_LayoutChanges" value="" />
            <input type="hidden" name="MSOLayout_InDesignMode" id="MSOLayout_InDesignMode" value="" />
            <input type="hidden" name="_wpSelected" id="_wpSelected" value="" />
            <input type="hidden" name="_wzSelected" id="_wzSelected" value="" />
            <input type="hidden" name="MSOSPWebPartManager_OldDisplayModeName" id="MSOSPWebPartManager_OldDisplayModeName" value="Browse" />
            <input type="hidden" name="MSOSPWebPartManager_StartWebPartEditingName" id="MSOSPWebPartManager_StartWebPartEditingName" value="false" />
            <input type="hidden" name="MSOSPWebPartManager_EndWebPartEditing" id="MSOSPWebPartManager_EndWebPartEditing" value="false" />
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE5ODUxMjM2MTkPZBYCZg9kFgICAQ9kFgYCAQ9kFgQCDA9kFgJmD2QWAgIBDxYCHhNQcmV2aW91c0NvbnRyb2xNb2RlCymIAU1pY3Jvc29mdC5TaGFyZVBvaW50LldlYkNvbnRyb2xzLlNQQ29udHJvbE1vZGUsIE1pY3Jvc29mdC5TaGFyZVBvaW50LCBWZXJzaW9uPTE1LjAuMC4wLCBDdWx0dXJlPW5ldXRyYWwsIFB1YmxpY0tleVRva2VuPTcxZTliY2UxMTFlOTQyOWMBZAIbD2QWAgIBD2QWAmYPPCsABgBkAgcPZBYKAgUPZBYCAgIPZBYCAgUPZBYCAgMPFgIeB1Zpc2libGVoFgJmD2QWBAICD2QWBgIBDxYCHwFoZAIDDxYCHwFoZAIFDxYCHwFoZAIDDw8WAh4JQWNjZXNzS2V5BQEvZGQCBw9kFhACAg9kFgJmDxYCHgRUZXh0BasBPHVsPjxsaT48YSBocmVmPSdodHRwOi8vd3cxLmVtdS5lZHUudHIvZW4nIHRhcmdldD0nX2JsYW5rJz5FTVUgSG9tZTwvYT48L2xpPjxsaT48YSBocmVmPSdodHRwOi8vd3cxLmVtdS5lZHUudHIvZW4vbmV3cy9jLzU1OCcgdGFyZ2V0PSdfYmxhbmsnPkVNVSBOZXdzL0V2ZW50czwvYT48L2xpPjwvdWw+ZAIED2QWAmYPFgIfAwW9ATxhIGhyZWY9Imh0dHA6Ly93d3cuZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPiA8aW1nIHNyYz0iL19sYXlvdXRzL2VtdS9pbWFnZXMvbG9nby9lbXUtbG9nby1oZWFkaW5nYmx1ZS1lbi5wbmc/dmVyPTEiIGFsdD0iRWFzdGVybiBNZWRpdGVycmFuZWFuIFVuaXZlcnNpdHkgTG9nbyIgc3R5bGU9IndpZHRoOjMyMHB4OyI+PC9hPmQCBg9kFgJmDxYCHwMF1QE8ZGl2IGNsYXNzPSJlbXUtbGFuZy1zd2l0Y2giPjxhIGNsYXNzPSIiIGhyZWY9Ii90ci9vemVsbGlrbGVyLXVjcmV0bGVyIiB0aXRsZT0iVMO8cmvDp2UiPnRyPC9hPjwvZGl2PjxkaXYgY2xhc3M9ImVtdS1zZWFyY2giPjxhIGNsYXNzPSIiIHRpdGxlPSJTZWFyY2giIGhyZWY9IiMiPjxpIGNsYXNzPSJnbHlwaGljb24gZ2x5cGhpY29uLXNlYXJjaCI+PC9pPjwvYT48L2Rpdj5kAggPZBYCZg8WAh8DBXk8ZGl2IGNsYXNzPSdlbXUtZmFjdWx0eS10aXRsZSc+PGEgaHJlZj0naHR0cHM6Ly9kb3JtaXRvcmllcy5lbXUuZWR1LnRyL2VuJz5Eb3JtaXRvcmllcyAmIENhZmV0ZXJpYXMgRGlyZWN0b3JhdGU8L2E+PC9kaXY+ZAIKD2QWAmYPFgIfAwWrATxhIGhyZWY9Imh0dHA6Ly93d3cuZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPiA8aW1nIHNyYz0iL19sYXlvdXRzL2VtdS9pbWFnZXMvbG9nby9lbXUtbG9nby1ob3Jpem9udGFsYmx1ZS1lbi5wbmc/dmVyPTEiIGFsdD0iRWFzdGVybiBNZWRpdGVycmFuZWFuIFVuaXZlcnNpdHkgTG9nbyI+PC9hPmQCDA9kFgJmDxYCHwMFzRo8ZGl2IGlkPSdtYWlubWVudSc+Cjx1bCBpZD0ndG9wTWVudSc+Cgo8bGkgY2xhc3M9JyB0b3BNZW51SG9tZSc+PGEgaHJlZj0nL2VuJz48L2E+PC9saT4KPGxpIGNsYXNzPScgIGhhc2NoaWxkIGhhc3Zpc2libGVjaGlsZCc+PHNwYW4gY2xhc3M9Im1tVG9nZ2xlIj48L3NwYW4+PGEgaHJlZj0iL2VuL2Fib3V0LXVzIj5BYm91dCBVczwvYT4KPHVsIGlkPScnPgo8bGkgY2xhc3M9JyAgICc+PGEgaHJlZj0iL2VuL2Fib3V0LXVzL2Fib3V0LWRpcmVjdG9yYXRlIj5BYm91dCBEaXJlY3RvcmF0ZTwvYT48L2xpPgo8bGkgY2xhc3M9JyAgICc+PGEgaHJlZj0iL2VuL2Fib3V0LXVzL2Fubm91bmNlbWVudHMiPkFubm91bmNlbWVudHM8L2E+PC9saT4KPC91bD4KPC9saT4KPGxpIGNsYXNzPScgIGhhc2NoaWxkIGhhc3Zpc2libGVjaGlsZCc+PHNwYW4gY2xhc3M9Im1tVG9nZ2xlIj48L3NwYW4+PGEgaHJlZj0iL2VuL2Rvcm1pdG9yaWVzIj5Eb3JtaXRvcmllczwvYT4KPHVsIGlkPScnPgo8bGkgY2xhc3M9JyAgICc+PGEgaHJlZj0iL2VuL2Rvcm1pdG9yaWVzL3doeS1lbXUtZG9ybWl0b3JpZXMiPldoeSBFTVUgRG9ybWl0b3JpZXM8L2E+PC9saT4KPGxpIGNsYXNzPScgIGhhc2NoaWxkIGhhc3Zpc2libGVjaGlsZCc+PHNwYW4gY2xhc3M9Im1tVG9nZ2xlIj48L3NwYW4+PGEgaHJlZj0iL2VuL2Rvcm1pdG9yaWVzL2VtdS1kb3JtaXRvcmllcyI+RU1VIERvcm1pdG9yaWVzPC9hPgo8dWwgaWQ9Jyc+CjxsaSBjbGFzcz0nICAgJz48YSBocmVmPSIvZW4vZG9ybWl0b3JpZXMvZW11LWRvcm1pdG9yaWVzL2VtdS0xIj5FTVUtMSBEb3JtaXRvcnk8L2E+PC9saT4KPGxpIGNsYXNzPScgICAnPjxhIGhyZWY9Ii9lbi9kb3JtaXRvcmllcy9lbXUtZG9ybWl0b3JpZXMvZW11LTIiPkVNVS0yIERvcm1pdG9yeTwvYT48L2xpPgo8bGkgY2xhc3M9JyAgICc+PGEgaHJlZj0iL2VuL2Rvcm1pdG9yaWVzL2VtdS1kb3JtaXRvcmllcy9lbXUtMyI+RU1VLTMgRG9ybWl0b3J5PC9hPjwvbGk+CjxsaSBjbGFzcz0nICAgJz48YSBocmVmPSIvZW4vZG9ybWl0b3JpZXMvZW11LWRvcm1pdG9yaWVzL2VtdS00Ij5FTVUtNCBEb3JtaXRvcnk8L2E+PC9saT4KPGxpIGNsYXNzPScgICAnPjxhIGhyZWY9Ii9lbi9kb3JtaXRvcmllcy9lbXUtZG9ybWl0b3JpZXMvc2FiYW5jaSI+U2FiYW5jaSBEb3JtaXRvcnk8L2E+PC9saT4KPC91bD4KPC9saT4KPGxpIGNsYXNzPScgIGhhc2NoaWxkIGhhc3Zpc2libGVjaGlsZCc+PHNwYW4gY2xhc3M9Im1tVG9nZ2xlIj48L3NwYW4+PGEgaHJlZj0iL2VuL2Rvcm1pdG9yaWVzL3ByaXZhdGVseS1vd25lZC1jYW1wdXMtZG9ybWl0b3JpZXMiPlByaXZhdGVseS1Pd25lZCBDYW1wdXMgRG9ybWl0b3JpZXM8L2E+Cjx1bCBpZD0nJz4KPGxpIGNsYXNzPScgICAnPjxhIGhyZWY9Ii9lbi9kb3JtaXRvcmllcy9wcml2YXRlbHktb3duZWQtY2FtcHVzLWRvcm1pdG9yaWVzL2FsZmFtIj5BbGZhbSBEb3JtaXRvcnk8L2E+PC9saT4KPGxpIGNsYXNzPScgICAnPjxhIGhyZWY9Ii9lbi9kb3JtaXRvcmllcy9wcml2YXRlbHktb3duZWQtY2FtcHVzLWRvcm1pdG9yaWVzL2FrZGVuaXoiPkFrZGVuaXogRG9ybWl0b3J5PC9hPjwvbGk+CjxsaSBjbGFzcz0nICAgJz48YSBocmVmPSIvZW4vZG9ybWl0b3JpZXMvcHJpdmF0ZWx5LW93bmVkLWNhbXB1cy1kb3JtaXRvcmllcy9sb25nc29uIj5Mb25nc29uIERvcm1pdG9yeTwvYT48L2xpPgo8bGkgY2xhc3M9JyAgICc+PGEgaHJlZj0iL2VuL2Rvcm1pdG9yaWVzL3ByaXZhdGVseS1vd25lZC1jYW1wdXMtZG9ybWl0b3JpZXMvbWFybWFyYSI+TWFybWFyYSBEb3JtaXRvcnk8L2E+PC9saT4KPGxpIGNsYXNzPScgICAnPjxhIGhyZWY9Ii9lbi9kb3JtaXRvcmllcy9wcml2YXRlbHktb3duZWQtY2FtcHVzLWRvcm1pdG9yaWVzL3VndXJzYWwiPlXEn3Vyc2FsIERvcm1pdG9yeTwvYT48L2xpPgo8bGkgY2xhc3M9JyAgICc+PGEgaHJlZj0iL2VuL2Rvcm1pdG9yaWVzL3ByaXZhdGVseS1vd25lZC1jYW1wdXMtZG9ybWl0b3JpZXMvcmFtZW4iPlJhbWVuIERvcm1pdG9yeTwvYT48L2xpPgo8bGkgY2xhc3M9JyAgICc+PGEgaHJlZj0iL2VuL2Rvcm1pdG9yaWVzL3ByaXZhdGVseS1vd25lZC1jYW1wdXMtZG9ybWl0b3JpZXMvaG9tZS1kb3JtIj5Ib21lIERvcm0gRG9ybWl0b3J5PC9hPjwvbGk+CjxsaSBjbGFzcz0nICAgJz48YSBocmVmPSIvZW4vZG9ybWl0b3JpZXMvcHJpdmF0ZWx5LW93bmVkLWNhbXB1cy1kb3JtaXRvcmllcy9wcmltZS1saXZpbmciPlByaW1lIExpdmluZyBEb3JtaXRvcnk8L2E+PC9saT4KPGxpIGNsYXNzPScgICAnPjxhIGhyZWY9Ii9lbi9kb3JtaXRvcmllcy9wcml2YXRlbHktb3duZWQtY2FtcHVzLWRvcm1pdG9yaWVzL2dvbGRlbi1wbHVzIj5Hb2xkZW4gUGx1cyBEb3JtaXRvcnk8L2E+PC9saT4KPGxpIGNsYXNzPScgICAnPjxhIGhyZWY9Ii9lbi9kb3JtaXRvcmllcy9wcml2YXRlbHktb3duZWQtY2FtcHVzLWRvcm1pdG9yaWVzL25vdmVsLWRvcm1pdG9yeSI+Tm92ZWwgRG9ybWl0b3J5PC9hPjwvbGk+CjxsaSBjbGFzcz0nICAgJz48YSBocmVmPSIvZW4vZG9ybWl0b3JpZXMvcHJpdmF0ZWx5LW93bmVkLWNhbXB1cy1kb3JtaXRvcmllcy9hc3RyYS1wbHVzLWRvcm1pdG9yeSI+QXN0cmEgUGx1cyBEb3JtaXRvcnk8L2E+PC9saT4KPGxpIGNsYXNzPScgICAnPjxhIGhyZWY9Ii9lbi9kb3JtaXRvcmllcy9wcml2YXRlbHktb3duZWQtY2FtcHVzLWRvcm1pdG9yaWVzL3BvcC1hcnQtZG9ybWl0b3J5Ij5Qb3AgQXJ0IERvcm1pdG9yeTwvYT48L2xpPgo8bGkgY2xhc3M9JyAgICc+PGEgaHJlZj0iL2VuL2Rvcm1pdG9yaWVzL3ByaXZhdGVseS1vd25lZC1jYW1wdXMtZG9ybWl0b3JpZXMva2FtYWNpb2dsdS1kb3JtaXRvcnkiPkthbWFjaW9nbHUgRG9ybWl0b3J5PC9hPjwvbGk+CjxsaSBjbGFzcz0nICAgJz48YSBocmVmPSIvZW4vZG9ybWl0b3JpZXMvcHJpdmF0ZWx5LW93bmVkLWNhbXB1cy1kb3JtaXRvcmllcy9reWstbmVjbWV0dGluLWVyYmFrYW4tZG9ybWl0b3J5Ij5LWUsgTmVjbWV0dGluIEVyYmFrYW4gRG9ybWl0b3J5PC9hPjwvbGk+CjwvdWw+CjwvbGk+CjwvdWw+CjwvbGk+CjxsaSBjbGFzcz0nIHNlbGVjdGVkICAnPjxhIGhyZWY9Ii9lbi9mZWVzLWFuZC1mYWNpbGl0aWVzIj5GZWVzIGFuZCBGYWNpbGl0aWVzPC9hPjwvbGk+CjxsaSBjbGFzcz0nICAgJz48YSBocmVmPSIvZW4vcnVsZXMiPlJ1bGVzPC9hPjwvbGk+CjxsaSBjbGFzcz0nICAgJz48YSBocmVmPSIvZW4vZGFpbHktbmVlZHMiPkRhaWx5IE5lZWRzPC9hPjwvbGk+CjxsaSBjbGFzcz0nICAgJz48YSBocmVmPSIvZW4vZmFxIj5GQVE8L2E+PC9saT4KPGxpIGNsYXNzPScgICAnPjxhIGhyZWY9Ii9lbi9jb250YWN0Ij5Db250YWN0PC9hPjwvbGk+CjwvdWw+CjxkaXYgY2xhc3M9J2NsZWFyJz48L2Rpdj48L2Rpdj5kAhAPZBYCAgEPZBYCAgEPPCsABQEADxYCHhVQYXJlbnRMZXZlbHNEaXNwbGF5ZWRmZGQCFg9kFgYCAw9kFgJmDxYCHwMF4gE8dWwgY2xhc3M9J2JyZWFkY3J1bWInPjxsaT48YSBocmVmPScvZW4nPjxpbWcgc3JjPSdodHRwczovL2Rvcm1pdG9yaWVzLmVtdS5lZHUudHIvU3R5bGUgTGlicmFyeS9icmFuZGluZy9pbWFnZXMvaWNvbi1ob21lLnBuZycgYm9yZGVyPScwJz48L2E+IDxzcGFuIGNsYXNzPSdkaXZpZGVyJz48L3NwYW4+PC9saT48bGkgY2xhc3M9J2FjdGl2ZSc+RmVlcyBhbmQgRmFjaWxpdGllczwvbGk+IDwvdWw+ZAIFDxYCHwALKwQBZAIHDxYCHwALKwQBZAIJD2QWAmYPFgIfAwXuATxpbWcgc3JjPSIvX2xheW91dHMvZW11L2ltYWdlcy9sb2dvL2VtdS1idy1sb2dvLnBuZyIgYWx0PSJFYXN0ZXJuIE1lZGl0ZXJyYW5lYW4gVW5pdmVyc2l0eSBsb2dvIj48aDU+RWFzdGVybiBNZWRpdGVycmFuZWFuIFVuaXZlcnNpdHk8L2g1PiA8cD5Eb3JtaXRvcmllcyAmIENhZmV0ZXJpYXMgRGlyZWN0b3JhdGU8YnIgLz5GYW1hZ3VzdGEsIE5vcnRoIEN5cHJ1czxiciAvPnZpYSBNZXJzaW4gMTAsIFR1cmtleTwvcD5kAgsPZBYCZg8WAh8DBZMBPHVsIGNsYXNzPSJlbXUtc29jaWFsSWNvbnMiPiA8bGk+PGEgaHJlZj0nIycgdGFyZ2V0PSdfYmxhbmsnIHRpdGxlPSdmYWNlYm9vayc+PHNwYW4gY2xhc3M9J2dseXBoaWNvbiBlbXUtZ2x5cGhpY29uLWZhY2Vib29rJz48L3NwYW4+PC9hPiA8L2xpPjwvdWw+ZAIPD2QWAmYPFgIfAwWJMDxkaXYgaWQ9ImVtdS13ZWJzaXRlc0NvbnRhaW5lciI+DQogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZGl2IGlkPSJlbXUtd2Vic2l0ZXMiPg0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZGl2IGNsYXNzPSJjb250YWluZXItZmx1aWQiPg0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZGl2IGNsYXNzPSJyb3ciPg0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRpdiBjbGFzcz0iY29sLW1kLTEyIj4NCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8aDM+RU1VIFdlYnNpdGVzIDxzcGFuIGlkPSJlbXUtd2Vic2l0ZXNJY29uIiBjbGFzcz0iZ2x5cGhpY29uIGdseXBoaWNvbi1jaGV2cm9uLWRvd24iPjwvc3Bhbj48L2gzPg0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9kaXY+DQogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvZGl2Pg0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L2Rpdj4NCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvZGl2Pg0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRpdiBpZD0iZW11LXdlYnNpdGVzTGlua3MiPg0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkaXYgY2xhc3M9ImNvbnRhaW5lci1mbHVpZCI+DQogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRpdiBjbGFzcz0icm93Ij48ZGl2IGNsYXNzPSJjb2wtc20tMTIiPjxoND5GYWN1bHRpZXMgYW5kIFNjaG9vbHM8L2g0PjwvZGl2PjwvZGl2PjxkaXYgY2xhc3M9InJvdyI+PGRpdiBjbGFzcz0nY29sLXNtLTQnPjx1bD48bGk+PGEgaHJlZj0iaHR0cHM6Ly9mYXJjLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5GYWN1bHR5IG9mIEFyY2hpdGVjdHVyZTwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL2Zhcy5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+RmFjdWx0eSBvZiBBcnRzICYgU2NpZW5jZXM8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9mYmUuZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPkZhY3VsdHkgb2YgQnVzaW5lc3MgJiBFY29ub21pY3M8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9mY21zLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5GYWN1bHR5IG9mIENvbW11bmljYXRpb24gYW5kIE1lZGlhIFN0dWRpZXM8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9mZWR1LmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5GYWN1bHR5IG9mIEVkdWNhdGlvbjwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL2VuZy5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+RmFjdWx0eSBvZiBFbmdpbmVlcmluZzwvYT48L2xpPjwvdWw+PC9kaXY+PGRpdiBjbGFzcz0nY29sLXNtLTQnPjx1bD48bGk+PGEgaHJlZj0iaHR0cHM6Ly9zYmYuZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPkZhY3VsdHkgb2YgSGVhbHRoIFNjaWVuY2VzPC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vaHVrdWsuZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPkZhY3VsdHkgb2YgTGF3PC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vbWVkaWNpbmUuZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPkZhY3VsdHkgb2YgTWVkaWNpbmU8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9waGFybWFjeS5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+RmFjdWx0eSBvZiBQaGFybWFjeTwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL3RvdXJpc20uZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPkZhY3VsdHkgb2YgVG91cmlzbTwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL2ZsZXBzLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5Gb3JlaWduIExhbmd1YWdlcyBhbmQgRW5nbGlzaCBQcmVwYXJhdG9yeSBTY2hvb2w8L2E+PC9saT48L3VsPjwvZGl2PjxkaXYgY2xhc3M9J2NvbC1zbS00Jz48dWw+PGxpPjxhIGhyZWY9Imh0dHBzOi8vZmJlLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5TY2hvb2wgb2YgQnVzaW5lc3MgYW5kIEZpbmFuY2U8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9zY3QuZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPlNjaG9vbCBvZiBDb21wdXRpbmcgYW5kIFRlY2hub2xvZ3k8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9zYmYuZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPlNjaG9vbCBvZiBIZWFsdGggU2VydmljZXM8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9odWt1ay5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+U2Nob29sIG9mIEp1c3RpY2U8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly90b3VyaXNtLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5TY2hvb2wgb2YgVG91cmlzbSBhbmQgSG9zcGl0YWxpdHkgTWFuYWdlbWVudDwvYT48L2xpPjwvdWw+PC9kaXY+PC9kaXY+PGRpdiBjbGFzcz0icm93Ij48ZGl2IGNsYXNzPSJjb2wtc20tMTIiPjxoND5BZG1pbmlzdHJhdGl2ZSBVbml0cyBhbmQgT2ZmaWNlczwvaDQ+PC9kaXY+PC9kaXY+PGRpdiBjbGFzcz0icm93Ij48ZGl2IGNsYXNzPSdjb2wtc20tNCc+PHVsPjxsaT48YSBocmVmPSJodHRwczovL21pa2EuZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPkFsdW1uaSBDb21tdW5pY2F0aW9ucyBhbmQgQ2FyZWVyIFJlc2VhcmNoIERpcmVjdG9yYXRlPC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vd3d3LmVtdS5lZHUudHIva2FmZXRlcnlhbGFyIiB0YXJnZXQ9Il9ibGFuayI+Q2FudGVlbiBhbmQgQ2FmZXRlcmlhczwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL2JpbS5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+Q29tcHV0ZXIgQ2VudGVyIERpcmVjdG9yYXRlPC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vd3d3LmVtdS5lZHUudHIvYWRtL2tvbnRyb2xtZCIgdGFyZ2V0PSJfYmxhbmsiPkNvbnRyb2wgRGlyZWN0b3JhdGU8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9kb3JtaXRvcmllcy5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+RG9ybWl0b3JpZXMgJiBDYWZldGVyaWFzIERpcmVjdG9yYXRlPC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vd3cxLmVtdS5lZHUudHIvZW4vc2VydmljZXMvaGVhbHRoLWNlbnRlci9jLzY3OCIgdGFyZ2V0PSJfYmxhbmsiPkhlYWx0aCBDZW50ZXI8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9pby5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+SW50ZXJuYXRpb25hbCBPZmZpY2U8L2E+PC9saT48L3VsPjwvZGl2PjxkaXYgY2xhc3M9J2NvbC1zbS00Jz48dWw+PGxpPjxhIGhyZWY9Imh0dHBzOi8vbGlicmFyeS5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+TGlicmFyeTwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL2hyLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5QZXJzb25uZWwgT2ZmaWNlIERpcmVjdG9yYXRlPC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vcGRyYW0uZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPlBzeWNob2xvZ2ljYWwgQ291bnNlbGluZywgR3VpZGFuY2UgJiBSZXNlYXJjaCBDZW50ZXI8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9wci5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+UHVibGljIFJlbGF0aW9ucyBhbmQgUHJlc3MgT2ZmaWNlIERpcmVjdG9yYXRlPC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vaWhhbGUuZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPlB1cmNoYXNpbmcgYW5kIEludmVudG9yeSBDb250cm9sIERpcmVjdG9yYXRlPC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vcmVnaXN0cmFyLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5SZWdpc3RyYXIncyBPZmZpY2UgPC9hPjwvbGk+PC91bD48L2Rpdj48ZGl2IGNsYXNzPSdjb2wtc20tNCc+PHVsPjxsaT48YSBocmVmPSJodHRwczovL2FjdGl2aXR5LmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5Tb2NpYWwgYW5kIEN1bHR1cmFsIEFjdGl2aXRpZXMgRGlyZWN0b3JhdGU8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9zb3N5YWxtZWR5YS5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+U29jaWFsIE1lZGlhIFVuaXQ8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9zcG9yLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5TcG9ydHMgQWZmYWlycyBEaXJlY3RvcmF0ZTwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL3N0ZGFmZmFpcnMxLmVtdS5lZHUudHIvZW4iIHRhcmdldD0iX2JsYW5rIj5TdHVkZW50IEFmZmFpcnM8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9yZWdpc3RyYXIuZW11LmVkdS50ci9lbi9zdHVkZW50LXNlcnZpY2VzLW9mZmljZSIgdGFyZ2V0PSJfYmxhbmsiPlN0dWRlbnQgU2VydmljZXMgT2ZmaWNlPC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vdHJhbnNwb3J0YXRpb24uZW11LmVkdS50ciIgdGFyZ2V0PSJfYmxhbmsiPlRyYW5zcG9ydGF0aW9uIFNlcnZpY2VzIFVuaXQ8L2E+PC9saT48L3VsPjwvZGl2PjwvZGl2PjxkaXYgY2xhc3M9InJvdyI+PGRpdiBjbGFzcz0iY29sLXNtLTEyIj48aDQ+QWNhZGVtaWMgVW5pdHM8L2g0PjwvZGl2PjwvZGl2PjxkaXYgY2xhc3M9InJvdyI+PGRpdiBjbGFzcz0nY29sLXNtLTQnPjx1bD48bGk+PGEgaHJlZj0iaHR0cHM6Ly9hZGVrLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5BY2FkZW1pYyBFdmFsdWF0aW9uIENvbW1pdHRlZTwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL3NlbS5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+Q29udGludWluZyBFZHVjYXRpb24gQ2VudGVyPC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vb2N3LmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5FTVUgT3BlbkNvdXJzZVdhcmU8L2E+PC9saT48bGk+PGEgaHJlZj0iaHR0cHM6Ly9ncmFkLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5JbnN0aXR1dGUgb2YgR3JhZHVhdGUgU3R1ZGllcyBhbmQgUmVzZWFyY2g8L2E+PC9saT48L3VsPjwvZGl2PjxkaXYgY2xhc3M9J2NvbC1zbS00Jz48dWw+PGxpPjxhIGhyZWY9Imh0dHBzOi8vaWRpYWFvLmVtdS5lZHUudHIvZW4iIHRhcmdldD0iX2JsYW5rIj5JbnN0aXR1dGlvbmFsIERldmVsb3BtZW50ICYgSW50ZXJuYXRpb25hbCBBY2FkZW1pYyBBZmZhaXJzIE9mZmljZTwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL2ktcmVwLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5JbnN0aXR1dGlvbmFsIFJlcG9zaXRvcnkgKEktUkVQKTwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL3N1bW1lci5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+SW50ZXJuYXRpb25hbCBTdW1tZXIgU2Nob29sPC9hPjwvbGk+PC91bD48L2Rpdj48ZGl2IGNsYXNzPSdjb2wtc20tNCc+PHVsPjxsaT48YSBocmVmPSJodHRwczovL3Jlc2VhcmNoLmVtdS5lZHUudHIiIHRhcmdldD0iX2JsYW5rIj5SZXNlYXJjaCBBZHZpc29yeSBCb2FyZDwvYT48L2xpPjxsaT48YSBocmVmPSJodHRwczovL2JheWVrLmVtdS5lZHUudHIvZW4iIHRhcmdldD0iX2JsYW5rIj5SZXNlYXJjaCBhbmQgUHVibGljYXRpb24gRXRoaWNzIEJvYXJkPC9hPjwvbGk+PGxpPjxhIGhyZWY9Imh0dHBzOi8vd2Fyd2ljay5lbXUuZWR1LnRyIiB0YXJnZXQ9Il9ibGFuayI+V2Fyd2ljay1FTVUgUHJvZ3JhbXM8L2E+PC9saT48L3VsPjwvZGl2PjwvZGl2PjwvZGl2PjwvZGl2PjwvZGl2PmQCDQ9kFgJmDxYCHwMF+wg8c2NyaXB0IHR5cGU9J3RleHQvamF2YXNjcmlwdCc+KGZ1bmN0aW9uKGkscyxvLGcscixhLG0pe2lbJ0dvb2dsZUFuYWx5dGljc09iamVjdCddPXI7aVtyXT1pW3JdfHxmdW5jdGlvbigpeyhpW3JdLnE9aVtyXS5xfHxbXSkucHVzaChhcmd1bWVudHMpfSxpW3JdLmw9MSpuZXcgRGF0ZSgpO2E9cy5jcmVhdGVFbGVtZW50KG8pLG09cy5nZXRFbGVtZW50c0J5VGFnTmFtZShvKVswXTthLmFzeW5jPTE7YS5zcmM9ZzttLnBhcmVudE5vZGUuaW5zZXJ0QmVmb3JlKGEsbSl9KSh3aW5kb3csZG9jdW1lbnQsJ3NjcmlwdCcsJy8vd3d3Lmdvb2dsZS1hbmFseXRpY3MuY29tL2FuYWx5dGljcy5qcycsJ2dhJyk7Z2EoJ2NyZWF0ZScsICdVQS01ODI5Nzk0OS0yMCcsICdhdXRvJyk7Z2EoJ2NyZWF0ZScsICdVQS01ODI5Nzk0OS0yNScsICdhdXRvJywgJ2NsaWVudFRyYWNrZXInKTtnYSgnc2VuZCcsICdwYWdldmlldycpO2dhKCdjbGllbnRUcmFja2VyLnNlbmQnLCAncGFnZXZpZXcnKTtfYXRya19vcHRzID0geyBhdHJrX2FjY3Q6J09iUGpmMWFnUTYwMHlhJywgZG9tYWluOidlbXUuZWR1LnRyJyxkeW5hbWljOiB0cnVlfTsNCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAoZnVuY3Rpb24oKSB7IHZhciBhcyA9IGRvY3VtZW50LmNyZWF0ZUVsZW1lbnQoJ3NjcmlwdCcpOyBhcy50eXBlID0gJ3RleHQvamF2YXNjcmlwdCc7IGFzLmFzeW5jID0gdHJ1ZTsgYXMuc3JjID0gJ2h0dHBzOi8vZDMxcWJ2MWN0aGNlY3MuY2xvdWRmcm9udC5uZXQvYXRyay5qcyc7IHZhciBzID0gZG9jdW1lbnQuZ2V0RWxlbWVudHNCeVRhZ05hbWUoJ3NjcmlwdCcpWzBdO3MucGFyZW50Tm9kZS5pbnNlcnRCZWZvcmUoYXMsIHMpOyB9KSgpOw0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvc2NyaXB0Pg0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxub3NjcmlwdD48aW1nIHNyYz0naHR0cHM6Ly9kNW54c3Q4ZnJ1dzR6LmNsb3VkZnJvbnQubmV0L2F0cmsuZ2lmP2FjY291bnQ9T2JQamYxYWdRNjAweWEnIHN0eWxlPSdkaXNwbGF5Om5vbmUnIGhlaWdodD0nMScgd2lkdGg9JzEnIGFsdD0nJyAvPjwvbm9zY3JpcHQ+ZGRizZhGRF3eYc1fhCw9awQUFLgb28+FbKa/qMU60GizkQ==" />
        </div>

        <script type="text/javascript">
            //<![CDATA[
            var theForm = document.forms['aspnetForm'];
            if (!theForm) {
                theForm = document.aspnetForm;
            }
            function __doPostBack(eventTarget, eventArgument) {
                if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    theForm.submit();
                }
            }
            //]]>
        </script>


        <script src="https://dormitories.emu.edu.tr/WebResource.axd?d=ID5LO2nC9RyPPrXhuHw5bGNTGi2p-lAdWRFKU8qsSHWOJPtE47Q_mL63woerJjrV3Z3yQE_UUPpZg83ATlkSn5e5C9a20PYu98kxgpdFTt01&amp;t=636426963113374701" type="text/javascript"></script>


        <script type="text/javascript">
            //<![CDATA[
            var MSOWebPartPageFormName = 'aspnetForm';
            var g_presenceEnabled = true;
            var g_wsaEnabled = false;
            var g_wsaQoSEnabled = false;
            var g_wsaQoSDataPoints = [];
            var g_wsaLCID = 1033;
            var g_wsaListTemplateId = 850;
            var g_wsaSiteTemplateId = 'CMSPUBLISHING#0';
            var _fV4UI = true; var _spPageContextInfo = { webServerRelativeUrl: "\u002fen", webAbsoluteUrl: "https:\u002f\u002fdormitories.emu.edu.tr\u002fen", siteAbsoluteUrl: "https:\u002f\u002fdormitories.emu.edu.tr", serverRequestPath: "\u002fen\u002fPages\u002fFees-and-Facilities.aspx", layoutsUrl: "_layouts\u002f15", webTitle: "Dormitories \u0026 Cafeterias Directorate", webTemplate: "39", tenantAppVersion: "0", isAppWeb: false, webLogoUrl: "_layouts\u002f15\u002fimages\u002fsiteicon.png", webLanguage: 1033, currentLanguage: 1033, currentUICultureName: "en-US", currentCultureName: "en-US", clientServerTimeDelta: new Date("2018-05-16T16:10:44.5391806Z") - new Date(), siteClientTag: "389$$15.0.5009.1000", crossDomainPhotosEnabled: false, webUIVersion: 15, webPermMasks: { High: 16, Low: 196673 }, pageListId: "{660e3f48-6890-4597-9a69-f11d802412e0}", pageItemId: 47, pagePersonalizationScope: 1, alertsEnabled: true, siteServerRelativeUrl: "\u002f", allowSilverlightPrompt: 'True' }; document.onreadystatechange = fnRemoveAllStatus; function fnRemoveAllStatus() { removeAllStatus(true) };//]]>
        </script>

        <script src="_layouts/15/blank1029.js?rev=ZaOXZEobVwykPO9g8hq%2F8A%3D%3D" type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[
            (function () {

                if (typeof (_spBodyOnLoadFunctions) === 'undefined' || _spBodyOnLoadFunctions === null) {
                    return;
                }
                _spBodyOnLoadFunctions.push(function () {
                    ExecuteOrDelayUntilScriptLoaded(
                        function () {
                            var pairs = SP.ScriptHelpers.getDocumentQueryPairs();
                            var followDoc, itemId, listId, docName;
                            for (var key in pairs) {
                                if (key.toLowerCase() == 'followdocument')
                                    followDoc = pairs[key];
                                else if (key.toLowerCase() == 'itemid')
                                    itemId = pairs[key];
                                else if (key.toLowerCase() == 'listid')
                                    listId = pairs[key];
                                else if (key.toLowerCase() == 'docname')
                                    docName = decodeURI(pairs[key]);
                            }

                            if (followDoc != null && followDoc == '1' && listId != null && itemId != null && docName != null) {
                                SP.SOD.executeFunc('followingcommon.html', 'FollowDocumentFromEmail', function () {
                                    FollowDocumentFromEmail(itemId, listId, docName);
                                });
                            }

                        }, 'SP.init-2.html');

                });
            })(); (function () {

                if (typeof (_spBodyOnLoadFunctions) === 'undefined' || _spBodyOnLoadFunctions === null) {
                    return;
                }
                _spBodyOnLoadFunctions.push(function () {

                    if (typeof (SPClientTemplates) === 'undefined' || SPClientTemplates === null || (typeof (APD_InAssetPicker) === 'function' && APD_InAssetPicker())) {
                        return;
                    }

                    var renderFollowFooter = function (renderCtx, calloutActionMenu) {
                        if (renderCtx.ListTemplateType == 700)
                            myDocsActionsMenuPopulator(renderCtx, calloutActionMenu);
                        else
                            CalloutOnPostRenderTemplate(renderCtx, calloutActionMenu);

                        var listItem = renderCtx.CurrentItem;
                        if (typeof (listItem) === 'undefined' || listItem === null) {
                            return;
                        }
                        if (listItem.FSObjType == 0) {
                            calloutActionMenu.addAction(new CalloutAction({
                                text: Strings.STS.L_CalloutFollowAction,
                                tooltip: Strings.STS.L_CalloutFollowAction_Tooltip,
                                onClickCallback: function (calloutActionClickEvent, calloutAction) {
                                    var callout = GetCalloutFromRenderCtx(renderCtx);
                                    if (!(typeof (callout) === 'undefined' || callout === null))
                                        callout.close();
                                    SP.SOD.executeFunc('followingcommon.html', 'FollowSelectedDocument', function () { FollowSelectedDocument(renderCtx); });
                                }
                            }));
                        }
                    };

                    var registerOverride = function (id) {
                        var followingOverridePostRenderCtx = {};
                        followingOverridePostRenderCtx.BaseViewID = 'Callout';
                        followingOverridePostRenderCtx.ListTemplateType = id;
                        followingOverridePostRenderCtx.Templates = {};
                        followingOverridePostRenderCtx.Templates.Footer = function (renderCtx) {
                            var renderECB;
                            if (typeof (isSharedWithMeView) === 'undefined' || isSharedWithMeView === null) {
                                renderECB = true;
                            } else {
                                var viewCtx = getViewCtxFromCalloutCtx(renderCtx);
                                renderECB = !isSharedWithMeView(viewCtx);
                            }
                            return CalloutRenderFooterTemplate(renderCtx, renderFollowFooter, renderECB);
                        };
                        SPClientTemplates.TemplateManager.RegisterTemplateOverrides(followingOverridePostRenderCtx);
                    }
                    registerOverride(101);
                    registerOverride(700);
                });
            })(); if (typeof (DeferWebFormInitCallback) == 'function') DeferWebFormInitCallback(); function WebForm_OnSubmit() {
                UpdateFormDigest('\u002fen', 1440000); if (typeof (_spFormOnSubmitWrapper) != 'undefined') { return _spFormOnSubmitWrapper(); } else { return true; };
                return true;
            }
            //]]>
        </script>

        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="6CD64661" />
        </div>

        <!-- ===== STARTER: SharePoint Reqs this for adding columns ===================================================== -->
        <script type="text/javascript">var submitHook = function () { return false; }; theForm._spOldSubmit = theForm.submit; theForm.submit = function () { if (!submitHook()) { this._spOldSubmit(); } };</script>

        <!-- ===== STARTER: Web Part Manager  ============================================================================================= -->
        <!-- ===== STARTER: ScriptManager ===================================================== -->
        <script type="text/javascript">
            //<![CDATA[
            Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager', 'aspnetForm', [], [], [], 90, 'ctl00');
            //]]>
        </script>

        <!-- ===== STARTER: Ribbon Code Starts Here ===================================================== -->
        <div>

            <div id="s4-ribbonrow" style="visibility:hidden;display:none"></div>

        </div>


        <!-- ===== STARTER: Ribbon Code Ends Here  ======================================================================================== -->
        <!-- ===== STARTER: Main Scrolling Body Starts Here =============================================================================== -->
        <div id="s4-workspace">
            <div id="s4-bodyContainer">

                <!-- ===== STARTER: This decides where the web part menu lives ===================================================== -->
                <div id="ctl00_DeltaPlaceHolderMain">

                    <!-- ===== EMU: Header container and Bootstrap container =========================================================================================== -->
                    <div id="emu-header-wrapper">
                        <div class="emu-top-container">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="emu-top-menu">
                                            <div id="ctl00_g_e407f53a_6ff2_464b_a680_1a2eaa8b145b" __MarkupType="vsattributemarkup" __WebPartId="{e407f53a-6ff2-464b-a680-1a2eaa8b145b}" WebPart="true">
                                                <ul><li><a href='http://ww1.emu.edu.tr/en' target='_blank'>EMU Home</a></li><li><a href='http://ww1.emu.edu.tr/en/news/c/558' target='_blank'>EMU News/Events</a></li></ul>
                                            </div>
                                        </div>
                                        <div class="emu-top-logo">
                                            <div id="ctl00_g_09291140_a395_433e_8449_0775ec8880e6" __MarkupType="vsattributemarkup" __WebPartId="{09291140-a395-433e-8449-0775ec8880e6}" WebPart="true">
                                                <a href="http://www.emu.edu.tr/" target="_blank"> <img src="@Url.Content("~/")Content/_layouts/emu/images/logo/emu-logo-headingblue-en68b3.png?ver=1" alt="Eastern Mediterranean University Logo" style="width:320px;"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="emu-LSwitchSearchContainer">
                                            <div id="ctl00_g_b7bb4069_0b98_452d_a2a6_0c0a7b8868c8" __MarkupType="vsattributemarkup" __WebPartId="{b7bb4069-0b98-452d-a2a6-0c0a7b8868c8}" WebPart="true">


                                                <div class="emu-lang-switch">

                                                    <a class="" id="nextLangId"  href="/FeesAndFacilities/Index/tr" title="Türkçe">tr</a>

                                                    @*<!-->select id="selectedLangId">
            <option value="1">en</option>
            <option value="2">tr</option>
        </!--select-->*@

                                                </div>


                                                <div class="emu-search">

                                                    <a class="" title="Search" href="#"><i class="glyphicon glyphicon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="emu-header-container">
                            <div class="container-fluid">
                                <!-- ===== EMU: Wrap Center Elements Only =========================================================================================== -->
                                <!-- ===== EMU: Faculty-Site Logo and Search=========================================================================================== -->

                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="emu-site-logo">
                                            <div class="emu-vertical-aligner">
                                                <!-- ===== STARTER: SharePoint looks for this div ID s4-titlerow for the "Focus on Content" Button ======================== -->
                                                <div id="ctl00_g_11edbc2c_9d8c_417d_8606_f0e813ad45c2" __MarkupType="vsattributemarkup" __WebPartId="{11edbc2c-9d8c-417d-8606-f0e813ad45c2}" WebPart="true">
                                                    <div class='emu-faculty-title'><a href='https://dormitories.emu.edu.tr/en'>Dormitories & Cafeterias Directorate</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ===== STARTER: Search Control ==================================================================================== -->
                                    <div class="col-sm-5 emu-rightLogo-continer-aligner">
                                        <div class="emu-header-rightLogo">
                                            <div id="ctl00_g_e6cc18f4_0198_4ea2_9d35_2c76d7113130" WebPart="true" __WebPartId="{e6cc18f4-0198-4ea2-9d35-2c76d7113130}" __MarkupType="vsattributemarkup">
                                                <a href="http://www.emu.edu.tr/" target="_blank"> <img src="@Url.Content("~/")Content/_layouts/emu/images/logo/emu-logo-horizontalblue-en68b3.png?ver=1" alt="Eastern Mediterranean University Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ===== EMU: Navigation Menu =========================================================================================== -->
                            </div>
                            <div class="emu-main-menu">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- ===== STARTER: Global navigation ================================================================================= -->
                                            <div class="ms-dialogHidden">
                                                <div id="ctl00_g_8e217c92_d107_40e8_9003_7a62fd6f3933" __MarkupType="vsattributemarkup" __WebPartId="{8e217c92-d107-40e8-9003-7a62fd6f3933}" WebPart="true">
                                                    <div id='mainmenu'>
                                                        <ul id='topMenu'>

                                                            <li class=' topMenuHome'><a href='https://dormitories.emu.edu.tr/en'></a></li>
                                                            <li class='  haschild hasvisiblechild'>
                                                                <span class="mmToggle"></span><a href="https://dormitories.emu.edu.tr:443/en/about-us/about-directorate">About Us</a>
                                                                <ul id=''>
                                                                    <li class='   '><a href="about-us/about-directorate.html">About Directorate</a></li>
                                                                    <li class='   '><a href="about-us/announcements.html">Announcements</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class='  haschild hasvisiblechild'>
                                                                <span class="mmToggle"></span><a href="dormitories.html">Dormitories</a>
                                                                <ul id=''>
                                                                    <li class='   '><a href="dormitories/why-emu-dormitories.html">Why EMU Dormitories</a></li>
                                                                    <li class='  haschild hasvisiblechild'>
                                                                        <span class="mmToggle"></span><a href="dormitories/emu-dormitories.html">EMU Dormitories</a>
                                                                        <ul id=''>
                                                                            <li class='   '><a href="dormitories/emu-dormitories/emu-1.html">EMU-1 Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/emu-dormitories/emu-2.html">EMU-2 Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/emu-dormitories/emu-3.html">EMU-3 Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/emu-dormitories/emu-4.html">EMU-4 Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/emu-dormitories/sabanci.html">Sabanci Dormitory</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li class='  haschild hasvisiblechild'>
                                                                        <span class="mmToggle"></span><a href="dormitories/privately-owned-campus-dormitories.html">Privately-Owned Campus Dormitories</a>
                                                                        <ul id=''>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/alfam.html">Alfam Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/akdeniz.html">Akdeniz Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/longson.html">Longson Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/marmara.html">Marmara Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/ugursal.html">Uğursal Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/ramen.html">Ramen Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/home-dorm.html">Home Dorm Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/prime-living.html">Prime Living Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/golden-plus.html">Golden Plus Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/novel-dormitory.html">Novel Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/astra-plus-dormitory.html">Astra Plus Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/pop-art-dormitory.html">Pop Art Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/kamacioglu-dormitory.html">Kamacioglu Dormitory</a></li>
                                                                            <li class='   '><a href="dormitories/privately-owned-campus-dormitories/kyk-necmettin-erbakan-dormitory.html">KYK Necmettin Erbakan Dormitory</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class=' selected  '><a href="fees-and-facilities.html">Fees and Facilities</a></li>
                                                            <li class='   '><a href="rules.html">Rules</a></li>
                                                            <li class='   '><a href="daily-needs.html">Daily Needs</a></li>
                                                            <li class='   '><a href="faq.html">FAQ</a></li>
                                                            <li class='   '><a href="contact.html">Contact</a></li>
                                                        </ul>
                                                        <div class='clear'></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ===== HEADER ===== -->
                    <!-- ===== STARTER: Body Area (includes left nav and body) ==================================================================== -->
                    <!-- ===== STARTER: Current navigation =========================================================================================== -->
                    <div id="sideNavBox" class="ms-dialogHidden ms-forceWrap ms-noList">
                        <div class="ms-core-navigation">
                            <!-- ===== STARTER: SP Reqs PlaceHolderLeftNavBar for adding Apps in Site Content =================== -->
                            <!-- ===== STARTER: hide the quick launch for any page the doesn't override the PlaceHolderLeftNavBar ============ -->
                            <!-- ===== STARTER: if you want the navigation back you can add it from the collab master ============ -->
                            <style type="text/css">
                                #contentBox {
                                    margin-left: 0;
                                }

                                #sideNavBox {
                                    display: none;
                                }
                            </style>







                        </div>
                    </div>

                    <!-- ===== STARTER: Breadcrumbs ======================================================================================= -->
                    <div class="ms-dialogHidden">
                        <div class="" style="display:none;">
                            <div id="pageTitle" class="ms-core-pageTitle">
                                <!-- ===== STARTER: SP Reqs DeltaPlaceHolderPageTitleInTitleArea and PlaceHolderPageTitleInTitleArea for adding Apps in Site Content =================== -->
                                <span id="DeltaPlaceHolderPageTitleInTitleArea">

                                    <span xenforcedminimumwidth="" style="width: 14px; display: inline-block"><a href="#ctl00_PlaceHolderPageTitleInTitleArea_ctl00_SkipLink"><img alt="Skip Navigation Links" src="https://dormitories.emu.edu.tr/WebResource.axd?d=QyO4VU--a86QyT6ZhNNEydwHKgIz14krnSmID-vTF3wA2SUJbAFRa-CeIzApJCQ0q8quodAQC-l3PLBfgh8k-SqDVLNQ3Luf2Mb7nEMInXw1&amp;t=636426963113374701" width="0" height="0" style="border-width:0px;" /></a><span><a href="fees-and-facilities.html">Fees-and-Facilities</a></span><a id="ctl00_PlaceHolderPageTitleInTitleArea_ctl00_SkipLink"></a></span>

                                </span>

                                <div class="ms-displayInlineBlock ms-normalWrap">
                                    <a href="javascript:;" id="ms-pageDescriptionDiv" style="display:none;">
                                        <span id="ms-pageDescriptionImage">&#160;</span>
                                    </a>
                                    <span class="ms-accessible" id="ms-pageDescription">

                                    </span>
                                    <script type="text/javascript">
                                        // <![CDATA[

                                        _spBodyOnLoadFunctionNames.push("setupPageDescriptionCallout"); // ]]>
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ===== STARTER: Main Content ========================================================================================== -->
                    <!-- ===== STARTER: Main Placeholder gets replaced with content of the page ======================================= -->
                    <div class="emu-body-wraper">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-12">
                                    <div id="ctl00_PlaceHolderMain_g_09cba1f6_8a1d_4673_b140_58863bb3d812" __MarkupType="vsattributemarkup" __WebPartId="{09cba1f6-8a1d-4673-b140-58863bb3d812}" WebPart="true">
                                        <ul class='breadcrumb'><li><a href='https://dormitories.emu.edu.tr/en'><img src='Style%20Library/branding/images/icon-home.png' border='0'></a> <span class='divider'></span></li><li class='active'>Fees and Facilities</li> </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="SideMenuJS"></div>
                                </div>







                                <!-- edit this part only -->
                                @RenderBody();
                                <!-- edit this part only -->

















                            </div>
                        </div>
                        <div style='display:none' id='hidZone'>
                            <menu class="ms-hide">
                                <ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/15/images/HelpIcon.gif" onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute('helpLink'), MenuWebPart.getAttribute('helpMode'))" text="Help" type="option" style="display:none"></ie:menuitem>
                            </menu>
                        </div>
                        <div style="clear:both;"> </div>
                    </div>
                </div>
                <footer>
                    <!-- ===== EMU: Footer Content ========================================================================================== -->
                    <div class="ms-dialogHidden">
                        <div id="emu-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="emu-footer-address">
                                            <div id="ctl00_g_ec2ade92_465e_4fe1_96cc_5bb6dba8187e" __MarkupType="vsattributemarkup" __WebPartId="{ec2ade92-465e-4fe1-96cc-5bb6dba8187e}" WebPart="true">
                                                <img src="@Url.Content("~/")Content/_layouts/emu/images/logo/emu-bw-logo.png" alt="Eastern Mediterranean University logo"><h5>Eastern Mediterranean University</h5> <p>Dormitories & Cafeterias Directorate<br />Famagusta, North Cyprus<br />via Mersin 10, Turkey</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="emu-footer-main-menu">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="emu-footer-top-menu">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="emu-footer-social">
                                            <div id="ctl00_g_a26fd01f_4f91_40a3_8d8e_3a1b58809135" __MarkupType="vsattributemarkup" __WebPartId="{a26fd01f-4f91-40a3-8d8e-3a1b58809135}" WebPart="true">
                                                <ul class="emu-socialIcons"> <li><a href='#' target='_blank' title='facebook'><span class='glyphicon emu-glyphicon-facebook'></span></a> </li></ul>
                                            </div>
                                        </div>
                                        <div class="emu-sign-in">
                                            <!-- ===== STARTER: Authentication / Login link hidden for everyone by anonymous users  =========================================== -->
                                            <span>
                                                <a id="ctl00_ctl50_ExplicitLogin" class="ms-signInLink" href="_layouts/15/Authenticatea4c1.aspx?Source=%2Fen%2Ffees%2Dand%2Dfacilities" style="display:inline-block;">Sign In</a>
                                            </span>
                                            <!-- ===== END: Authentication / Login link hidden for everyone by anonymous users  =========================================== -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ctl00_g_52f33b72_2813_475e_b407_aba4a4a163c7" __MarkupType="vsattributemarkup" __WebPartId="{52f33b72-2813-475e-b407-aba4a4a163c7}" WebPart="true">
                            <div id="emu-websitesContainer">
                                <div id="emu-websites">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>EMU Websites <span id="emu-websitesIcon" class="glyphicon glyphicon-chevron-down"></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="emu-websitesLinks">
                                    <div class="container-fluid">
                                        <div class="row"><div class="col-sm-12"><h4>Faculties and Schools</h4></div></div><div class="row"><div class='col-sm-4'><ul><li><a href="https://farc.emu.edu.tr/" target="_blank">Faculty of Architecture</a></li><li><a href="https://fas.emu.edu.tr/" target="_blank">Faculty of Arts & Sciences</a></li><li><a href="https://fbe.emu.edu.tr/" target="_blank">Faculty of Business & Economics</a></li><li><a href="https://fcms.emu.edu.tr/" target="_blank">Faculty of Communication and Media Studies</a></li><li><a href="https://fedu.emu.edu.tr/" target="_blank">Faculty of Education</a></li><li><a href="https://eng.emu.edu.tr/" target="_blank">Faculty of Engineering</a></li></ul></div><div class='col-sm-4'><ul><li><a href="https://sbf.emu.edu.tr/" target="_blank">Faculty of Health Sciences</a></li><li><a href="https://hukuk.emu.edu.tr/" target="_blank">Faculty of Law</a></li><li><a href="https://medicine.emu.edu.tr/" target="_blank">Faculty of Medicine</a></li><li><a href="https://pharmacy.emu.edu.tr/" target="_blank">Faculty of Pharmacy</a></li><li><a href="https://tourism.emu.edu.tr/" target="_blank">Faculty of Tourism</a></li><li><a href="https://fleps.emu.edu.tr/" target="_blank">Foreign Languages and English Preparatory School</a></li></ul></div><div class='col-sm-4'><ul><li><a href="https://fbe.emu.edu.tr/" target="_blank">School of Business and Finance</a></li><li><a href="https://sct.emu.edu.tr/" target="_blank">School of Computing and Technology</a></li><li><a href="https://sbf.emu.edu.tr/" target="_blank">School of Health Services</a></li><li><a href="https://hukuk.emu.edu.tr/" target="_blank">School of Justice</a></li><li><a href="https://tourism.emu.edu.tr/" target="_blank">School of Tourism and Hospitality Management</a></li></ul></div></div><div class="row"><div class="col-sm-12"><h4>Administrative Units and Offices</h4></div></div><div class="row"><div class='col-sm-4'><ul><li><a href="https://mika.emu.edu.tr/" target="_blank">Alumni Communications and Career Research Directorate</a></li><li><a href="https://www.emu.edu.tr/kafeteryalar" target="_blank">Canteen and Cafeterias</a></li><li><a href="https://bim.emu.edu.tr/" target="_blank">Computer Center Directorate</a></li><li><a href="https://www.emu.edu.tr/adm/kontrolmd" target="_blank">Control Directorate</a></li><li><a href="https://dormitories.emu.edu.tr/" target="_blank">Dormitories & Cafeterias Directorate</a></li><li><a href="https://ww1.emu.edu.tr/en/services/health-center/c/678" target="_blank">Health Center</a></li><li><a href="https://io.emu.edu.tr/" target="_blank">International Office</a></li></ul></div><div class='col-sm-4'><ul><li><a href="https://library.emu.edu.tr/" target="_blank">Library</a></li><li><a href="https://hr.emu.edu.tr/" target="_blank">Personnel Office Directorate</a></li><li><a href="https://pdram.emu.edu.tr/" target="_blank">Psychological Counseling, Guidance & Research Center</a></li><li><a href="https://pr.emu.edu.tr/" target="_blank">Public Relations and Press Office Directorate</a></li><li><a href="https://ihale.emu.edu.tr/" target="_blank">Purchasing and Inventory Control Directorate</a></li><li><a href="https://registrar.emu.edu.tr/" target="_blank">Registrar's Office </a></li></ul></div><div class='col-sm-4'><ul><li><a href="https://activity.emu.edu.tr/" target="_blank">Social and Cultural Activities Directorate</a></li><li><a href="https://sosyalmedya.emu.edu.tr/" target="_blank">Social Media Unit</a></li><li><a href="https://spor.emu.edu.tr/" target="_blank">Sports Affairs Directorate</a></li><li><a href="https://stdaffairs1.emu.edu.tr/en" target="_blank">Student Affairs</a></li><li><a href="https://registrar.emu.edu.tr/en/student-services-office" target="_blank">Student Services Office</a></li><li><a href="https://transportation.emu.edu.tr/" target="_blank">Transportation Services Unit</a></li></ul></div></div><div class="row"><div class="col-sm-12"><h4>Academic Units</h4></div></div><div class="row"><div class='col-sm-4'><ul><li><a href="https://adek.emu.edu.tr/" target="_blank">Academic Evaluation Committee</a></li><li><a href="https://sem.emu.edu.tr/" target="_blank">Continuing Education Center</a></li><li><a href="https://ocw.emu.edu.tr/" target="_blank">EMU OpenCourseWare</a></li><li><a href="https://grad.emu.edu.tr/" target="_blank">Institute of Graduate Studies and Research</a></li></ul></div><div class='col-sm-4'><ul><li><a href="https://idiaao.emu.edu.tr/en" target="_blank">Institutional Development & International Academic Affairs Office</a></li><li><a href="https://i-rep.emu.edu.tr/" target="_blank">Institutional Repository (I-REP)</a></li><li><a href="https://summer.emu.edu.tr/" target="_blank">International Summer School</a></li></ul></div><div class='col-sm-4'><ul><li><a href="https://research.emu.edu.tr/" target="_blank">Research Advisory Board</a></li><li><a href="https://bayek.emu.edu.tr/en" target="_blank">Research and Publication Ethics Board</a></li><li><a href="https://warwick.emu.edu.tr/" target="_blank">Warwick-EMU Programs</a></li></ul></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ===== EMU: Footer Content ==== -->
                </footer>
                <span id="scrollup"><i class=" glyphicon glyphicon-chevron-up"></i></span>
            </div>
        </div>
        <!-- ===== STARTER: Main Scrolling Body Ends Here ================================================================================= -->
        <!-- ===== STARTER: Needed for form stuff ========================================================================================= -->

        <script type="text/javascript">
            //<![CDATA[
            var formDigestElement = document.getElementsByName('__REQUESTDIGEST')[0];
            if (!((formDigestElement == null) || (formDigestElement.tagName.toLowerCase() != 'input') || (formDigestElement.type.toLowerCase() != 'hidden') ||
                (formDigestElement.value == null) || (formDigestElement.value.length <= 0))) {
                formDigestElement.value = '0x46C2B0A618211E9DE1E8B3751BACF5DC839169AEE9C78C4C54D7026D136E2A18B1893F94066A14D60A8BC29E253519804B3B5393CA588DCF506157432A751EF5,16 May 2018 16:10:44 -0000';
                g_updateFormDigestPageLoaded = new Date();
            }
            //]]>
        </script>

        <!-- ===== STARTER: Hidden Placeholders =========================================================================================== -->





        <script type="text/javascript">
            //<![CDATA[
            var _spFormDigestRefreshInterval = 1440000; window.g_updateFormDigestPageLoaded = new Date(); window.g_updateFormDigestPageLoaded.setDate(window.g_updateFormDigestPageLoaded.getDate() - 5); var _fV4UI = true;
            function _RegisterWebPartPageCUI() {
                var initInfo = { editable: false, isEditMode: false, allowWebPartAdder: false, listId: "{660e3f48-6890-4597-9a69-f11d802412e0}", itemId: 47, recycleBinEnabled: true, enableMinorVersioning: true, enableModeration: false, forceCheckout: true, rootFolderUrl: "\u002fen\u002fPages", itemPermissions: { High: 16, Low: 196673 } };
                SP.Ribbon.WebPartComponent.registerWithPageManager(initInfo);
                var wpcomp = SP.Ribbon.WebPartComponent.get_instance();
                var hid;
                hid = document.getElementById("_wpSelected");
                if (hid != null) {
                    var wpid = hid.value;
                    if (wpid.length > 0) {
                        var zc = document.getElementById(wpid);
                        if (zc != null)
                            wpcomp.selectWebPart(zc, false);
                    }
                }
                hid = document.getElementById("_wzSelected");
                if (hid != null) {
                    var wzid = hid.value;
                    if (wzid.length > 0) {
                        wpcomp.selectWebPartZone(null, wzid);
                    }
                }
            };
            function __RegisterWebPartPageCUI() {
                ExecuteOrDelayUntilScriptLoaded(_RegisterWebPartPageCUI, "sp.ribbon.html");
            }
            _spBodyOnLoadFunctionNames.push("__RegisterWebPartPageCUI"); var __wpmExportWarning = 'This Web Part Page has been personalized. As a result, one or more Web Part properties may contain confidential information. Make sure the properties contain information that is safe for others to read. After exporting this Web Part, view properties in the Web Part description file (.WebPart) by using a text editor such as Microsoft Notepad.'; var __wpmCloseProviderWarning = 'You are about to close this Web Part.  It is currently providing data to other Web Parts, and these connections will be deleted if this Web Part is closed.  To close this Web Part, click OK.  To keep this Web Part, click Cancel.'; var __wpmDeleteWarning = 'You are about to permanently delete this Web Part.  Are you sure you want to do this?  To delete this Web Part, click OK.  To keep this Web Part, click Cancel.'; var g_clientIdDeltaPlaceHolderMain = "ctl00_DeltaPlaceHolderMain";
            var g_clientIdDeltaPlaceHolderPageTitleInTitleArea = "DeltaPlaceHolderPageTitleInTitleArea";
            //]]>
        </script>
    </form>
    <!-- ===== STARTER: Adds extra stuff like another form for Survey management ====================================================== -->

</body>
<!-- ===== Javascripts =========================================================================================== -->
<script type="text/javascript" src="@Url.Content("~/")Content/_layouts/emu/global/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="@Url.Content("~/")Content/_layouts/emu/global/js/javascript-initialization.js"></script>
<script type="text/javascript" src="@Url.Content("~/")Content/_layouts/emu/fancybox3/fancybox.js"></script>


<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="@Url.Content("~/")Content/_layouts/emu/revolutionSlider/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/")Content/_layouts/emu/revolutionSlider/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="@Url.Content("~/")Content/_layouts/emu/global/datepicker/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/")Content/_layouts/emu/scrollto/scrollto.js"></script>
<div id="ctl00_g_2cecf2a6_0a95_4e90_8bc9_033866d2024f" __MarkupType="vsattributemarkup" __WebPartId="{2cecf2a6-0a95-4e90-8bc9-033866d2024f}" WebPart="true">
    <script type='text/javascript'>
        (function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', 'www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-58297949-20', 'auto'); ga('create', 'UA-58297949-25', 'auto', 'clientTracker'); ga('send', 'pageview'); ga('clientTracker.send', 'pageview'); _atrk_opts = { atrk_acct: 'ObPjf1agQ600ya', domain: 'emu.edu.tr', dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = 'd31qbv1cthcecs.cloudfront.net/atrk.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src='d5nxst8fruw4z.cloudfront.net/atrkfd5f.gif?account=ObPjf1agQ600ya' style='display:none' height='1' width='1' alt='' /></noscript>
</div>


<environment include="Development">
    <script src="@Url.Content("~/")Content/lib/jquery/dist/jquery.js"></script>
</environment>


@RenderSection("Scripts", required: false)
<!-- Mirrored from dormitories.emu.edu.tr/en/fees-and-facilities by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 May 2018 16:07:26 GMT -->
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- The Icheck launch plugin-->
<script>
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal',
            increaseArea: '20%' // optional
        });
    });
</script>
</html>



















